:root
{
    --dark: #514a52;
    --light: #d7c7d8;
}

/* other palette: #553A59;#947795 */

*
{
    color: var(--dark);
}




/* --- Those whose javascript is not enabled --- */
noscript
{
    font-style: italic;
}

#noscriptNav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#noscriptNav > ul
{
    border: 1px solid;
    border-radius: 3%;
    text-align: left;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#noscriptNav > ul li
{
    text-align: left;
}

#noscriptContact
{
    list-style-type: none;
}

#noscriptContact li
{
    text-align: left;
}

#noscriptContact li::before
{
    content: "\00BB  ";
}

.ulTitle
{
    list-style-type: none;
    padding-bottom: 5px;
}





/* --- BODY --- */
body
{
    position: relative;
    top: 220px;
    padding-bottom: 200px;
    min-height: 500px;
}







/* --- MORE GENERAL --- */
/* - General Links - */
a
{
    text-decoration: none;
}

a:hover
{
    color: var(--light);
}

a:focus
{
    border: 1px solid;
    border-color: var(--dark);
    border-radius: 3%;
}

h1
{
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0px 10px 15px -15px #111;
}

p
{
    text-align: center;
}

li
{
    text-align: center;
    list-style-position: inside;
}

em
{
    font-style: italic;
}


/* --- SPECIFIC TO SINGLE PAGE --- */
/* - trips - */
#introTripsImages
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
}

.introTripsImage
{
    display: block;
    border: 1px solid;
    border-radius: 1%;
    max-width: 33%;
    height: auto;
}

#trip1, #trip3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#trip2
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.smallTripImage
{
    width: 50px;
    cursor: zoom-in;
}

.largeTripImage
{
    width: 600px;
    cursor: zoom-out;
}










/* +++ INSERTED ELSEWHERE - HTMLCOMPONENTS +++ */

/* --- HEADER --- */
/*
header
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 0px #111;
    background-color: var(--light);
}
*/

/* - Top - */
/*
#topHeader
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

#languageMenu
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#languageMenu:nth-child(2)
{
    margin-left: 2px;
    margin-right: 2px;
}
*/



/* - Navigation - */
/*
nav ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

nav li
{
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

nav a
{
    display: block;
    padding: 3px 5px;
}

nav a:hover, nav a:active
{
    background-color: var(--dark);
    color: var(--light);
}

nav ul > li + li
{
    border-left: 1px solid;
}

#currentNav
{
    background-color: var(--dark);
    color: var(--light);
}

li.navParentOff
{
    position: relative;
}

.navChildOff
{
    display: none;
}

.navChildOn
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    margin-left: -40px;
    z-index: 1;
}

.navChildOn li
{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3px;
    margin-bottom: -3px;
    border-left: none;
}

.navChildOn li + li
{
    border-top: 1px solid;
}

.navChildOn a
{
    background-color: var(--dark);
    color: var(--light);
}

.navChildOn a:hover, .navChildOn a:active
{
    opacity: 0.8;
}

.navParentOn a
{
    background-color: var(--dark);
    color: var(--light);
}

*/