{% extends "layout.html" %} 
{% block content %}
<img
    src="/images/titles/br/relatives.png"
    alt="Title logo - relatives"
    class="titleLogo"
/>
<div id="groomAndBride">
    <div>
        <div class="people">
            <img src="/images/children/lucas.png" alt="Picture Lucas" />
            <p>
                O nascimento dele representa tantas coisas para a nossa família. O Lucas veio para, como o próprio nome diz, iluminar nossas vidas.<br/>
                Ele chegou com seu dentinho de leite gêmeo e seu sorrisinho encantador para encher nossos corações de amor. Ele representa a união entre duas irmãs que se amam muito.<br/>
                A tia Barbara ama muito e eu só tenho lembranças maravilhosas das nossas brincadeiras juntos, das númeras musiquinhas que cantamos juntos, das tantas mordidinhas que a tia Barbara dava no seu bumbum e que deixava a mamãe nervosa.<br/>
                Tia Barbara e Tio Titou estão tão felizes de saber que você estará aqui, sendo nosso pajem, junto com a Luiza, para fazer parte desse dia tão especial.
            </p>
        </div>
        <div class="people">
            <img src="/images/children/paulandre.png" alt="Picture Paul-André" />
            <p>
                Paul -André, um dos dois afilhados de Thibault.<br/>
                Ele representa esse amor fraterno transmitido por André et Brigitte aos seus filhos. Ele é símbolo do amor e da cumplicidade entre Pierre e Thibault e é o novo capítulo dessa cumplicidade fraterna.<br/>
                Esse menininho é cheio de alegria, exceto quando perde no tênis. Como o pai dele, ele gosta de fazer brincadeiras e passa toda essa alegria aos que estão por perto. Ele puxou também a mãe quando o quesito é a música. Chame ele para dançar e ele será sem dúvidas o primeiro na pista de dança !<br/>
                Apesar da distância, nós temos compartilhado muito nossa paixão pelos esportes. Ele também ama futebol e até pediu uma blusa do M'Bappé, ainda bem que ele também joga pela equipe da França...
            </p>
        </div>
        <div class="people">
            <img src="/images/children/louis.png" alt="Picture Louis" />
            <p>
                O Louis é o nosso sobrinho mais novo. E com ele veio um dos pedidos mais especiais: ser sua madrinha.<br/>
                Meu querido Louis, que missão importante a minha poder te ensinar o caminho da fé, falar da palavra de Deus e da importância d'Ele em nossas vidas.<br/>
                Infelizmente não estamos pertinho um do outro, mas a tia Barbara estará sempre aqui pensando em voce, te desejando o melhor e pronta para o que voce precisar.<br/>
                Titou e eu estamos muito felizes de te poder dividir esse momento tao especial com voce e seu seu irmão, Paul-André.
            </p>
        </div>
    </div>

    <div>
        <div class="people">
            <img src="/images/children/luiza.png" alt="Picture Luiza" />
            <p>
                A Luiza veio para encher nossa família com mais amor ainda.<br/>
                A Luli é aquele criança beijoqueira, carinhosa, doce, engraçadinha e representa nosso segundo amor. Ela é como uma gatinha que ama receber e fazer carinhos.<br/>
                Tia Barbara sofreu muito de não poder ter acompanhado e vivido seu crescimento da mesma forma do Lucas, mas sempre que ele te vê crescendo, linda e saudável, o coração dela transborda de alegria de saber que está tudo bem com voce e o Lucas. Tia Barbara também ama muito.<br/>
                Eu e o Tio Titou estamos não vemos a hora de ter vocês dois aqui entrando na igreja ao nosso lado.
            </p>
        </div>
        <div class="people">
            <img src="/images/children/heloise.png" alt="Picture Héloïse" />
            <p>
                Heloise, é a outra afilhada de Thibault.<br/>
                Ela é a inocência, o amor e o carinho encarnados! Faisant partie des jeunes de leur famille, Thibault comprend beaucoup de sa jeunesse grâce à elle. Ela não economiza nos abraços e beijinhos, sendo sempre muito carinhosa com o tio Titou que é o seu padrinho adorado e seu grande chamego. Que sorte a nossa tê-la em nossas vidas.<br/>
                Ser padrinho de uma menina dessas é um prazer enorme. Com ela, estou tendo a chance de redescobrir a vida de outro ângulo, aprendendo e vivendo novas experiências em todos os momentos que passamos juntos.<br/>
                Não temos dúvidas que vocês a reconhecerão rapidamente com seu rosto angelical, seu sorriso permanente e sua alegria de viver.
            </p>
        </div>
        <div class="people">
            <img src="/images/children/julia.png" alt="Picture Julia" />
            <p>
                Julia, também sobrinha do Thibault.<br/>
                Nossa pequena franco-mexicana, Julia, tem um vínculo muito especial com os noivos.<br/>
                Essa garotinha tão dinâmica, engraçada, carinhosa e cheia de carácter, enche nossos corações de amor a cada encontro com as suas caras e bocas. Mas cuidado, ela sabe o que quer ;).<br/>
                É um prazer para o tio Titou e Tia Bibi poder estar tão perto de você e acompanhar seu crescimento. Estamos muito felizes de saber que você estará ao nosso lado nesse dia tão especial.
            </p>
        </div>
    </div>
</div>
{% endblock %}
