{% extends "layout.html" %} 
{% block content %}
<div id="dresscode">
    <h1>DressCode</h1>
    <p>
        Não há regras de como se vestir em nosso casamento. Gostaríamos que nossos familiares e amigos estejam se sentindo confortáveis neste dia. Entretanto, dado que alguns convidados já nos perguntaram, aqui vão algumas sugestões:
        <ul>
            <li>
                Para as mulheres, sugerimos que optem por vestidos curtos, midis, longuetes ou longos. Vestidos leves com tecidos esvoaçantes, coloridos, floridos e estampados são sempre uma boa opção para o verão. O uso de chapéu não é obrigatório, mas fica a dica para aquelas que gostariam de entrar na moda francesa e se aventurar com um lindo chapéu.<br/>
                <strong>Atenção : Por favor, evite cores lavanda, lilás, roxo... Tons de roxo foi a cor escolhida para o tema do nosso casamento e serão utilizados pelas madrinhas.</strong><br/>
                A cerimônia será realizada na igreja, logo depois receberemos nossos convidados no jardim do castelo do Pordor. Com isso, gostaríamos de alertar as nossas convidadas ao uso de salto fino. O salto é permitido porém, optem por saltos plataforma, anabela, cubano ou quadrado. Para as que não podem usar salto, rasteirinhas ou sapatilhas são uma excelente opção. O importante é se sentir confortável.<br/>
                Sugerimos também, o uso de um casaco para aquelas mais friorentas. A temperatura pode baixar no final da tarde, começo da noite nesta época na região.
            </li>
            <li>
                Para os homens, não há obrigação de usar o terno completo. Indicamos o uso de calça social, paletó e camisa. A única coisa que fica dispensável é o uso da gravata. O sapato é social, porém pode ter um ar mais informal, podendo ser arredondado. Para aqueles que gostariam de investir no uso do chapéu panamá e óculos de sol, nós aprovamos o estilo.
            </li>
        </ul>
    </p>
</div>
{% endblock %}
