{% extends "layout.html" %} 
{% block content %}
<div id="historyBody">
    <section>
        <article>
            <div class="historyArticleText">
                <h2>Nosso encontro</h2>
                <p>
                    A Bárbara estava de férias com seu irmão em Paris. Após um longo dia caminhando pela cidade, ela só queria ir para o hotel descansar, mas não era o que o Samuel tinha planejado.<br/><br/>
                    Ele estava disposto a conhecer a noitada parisiense. Decidido a sair naquela noite, ele contava com a presença da Bárbara que não imaginava que sua vida mudaria naquela noite.<br/><br/>
                    Naquele mesmo dia, Thibault chegava em Paris depois de um estágio no exterior. Seus amigos parisienses tinham marcado um encontro e Thibault, mesmo cansado, decidiu ir ao encontro deles.<br/><br/>
                    E foi nessa noite, sexta feira 11 de setembro de 2015, em uma estação de metrô chamada Gare d'Austerlitz que a Bárbara e o Thibault se encontraram...<br/><br/>
                    Acompanhada de seu irmão, Bárbara entra no metrô e logo avista um homem lindo e charmoso. Thibault estava lá, acompanhado de um amigo, também avistou a entrada de bela moça dentro do vagão. Eles trocam olhares e as portas do vagão se fecharam. Algumas paradas depois, coincidência ou destino ? Eles descem na mesma estação.<br/><br/>
                    Sem saber qual direção seguir, os irmãos procuram a saída e Thibault, sempre muito prestativo, vai em direção aos irmãos perdidos e propõe ajuda. Thibault convida então os irmãos a irem para a festa na qual ele planejava encontrar seus amigos e logo o convite foi aceito.<br/><br/>
                    Os olhares no vagão se tornam amor à primeira vista depois de aproveitarem a noite juntos, conversando, rindo, se descobrindo e logo em seguida trocando seus contatos.<br/>
                    E foi assim que esse casal começou uma história maravilhosa que será vivida no ritmo de suas viagens, um visitando o outro e assim por diante.
                </p>
            </div>
            <aside>
                <img src="/images/history/firstMet.png" alt="First meeting pictures Barbara and Thibault"/>
            </aside>
        </article>
        <article>
            <div class="historyArticleText">
                <h2>De Brasília a Milão, as viagens feitas como lugar de encontro.</h2>
                <p>
                    Barbara e Thibault começam a viver um amor à distância. A cada 3/4 meses, eles se viam ao ritmo das férias inusitadas entre Brasil e Itália.<br/><br/>
                    Paris, Milão, Salvador, Brasília, Rio de Janeiro, Sao Paulo, Veneza, Besançon, Reims, Lyon, Marseille, Nice, Porto Alegre, Minas Gerais, Fortaleza, Montevidéu, Buenos Aires foram alguns dos lugares que fizeram parte do caminho deles e permitiram descobri-los juntos.<br/><br/>
                    Depois de 2 anos mantendo essa relação à distância e aprendendo cada vez mais sobre a cultura um do outro, o coração falou mais forte e Thibault e Barbara decidem juntos se aproximar fisicamente.<br/>
                </p>
            </div>
            <aside>
                <img src="/images/history/distance.png" alt="Distance pictures Barbara and Thibault"/>
            </aside>
        </article>
        <article>
            <div class="historyArticleText">
                <h2>De Brasília a Marselha e Paris, uma mudança brusca porém bem sucedida.</h2>
                <p>
                    Marselha foi a escolha deles para a chegada da Barbara na Europa. Nesse momento, Thibault vivia em Paris.<br/><br/>
                    A Barbara se integrou à vida e à cultura francesa de uma maneira fácil e agradável. Na nova rotina, Barbara enriquece cada vez mais seu nível de francês achando um trabalho e então começa a reconstruir pouquinho a pouquinho sua nova carreira profissional longe das escolas.<br/><br/>
                    Ao mesmo tempo, Thibault busca seu caminho profissional. Ele que estava em Paris, recebe uma proposta profissional interessante para sua carreira, e decide então viver novas experiências em Nice, costa mediterrânea da França, bem perto do sol, onde Barbara e Thibault decidem se aproximar mais e mudam para a mesma cidade.
                </p>
            </div>
            <aside>
                <img src="/images/history/marseille.png" alt="Marseille pictures Barbara and Thibault"/>
            </aside>
        </article>
        <article>
            <div class="historyArticleText">
                <h2>Entre a Covid e alguns imprevistos, um casamento em 4 anos !</h2>
                <p>
                    23 de novembro de 2019 foi o dia escolhido para dissermos "sim" um ao outro e mudarmos nosso status de solteiros para casados. Entre a Covid e alguns imprevistos, foram dois adiamentos para finalmente conseguirem planejar o tão sonhado casamento religioso, e com ele a bênção divina.<br/><br/>
                    De lá pra cá, novas propostas profissionais apareceram. Aubagne-en-Provence, perto de Marselha, no sudeste da França foi o local escolhido para se instalarem.<br/><br/>
                    Mas será no noroeste da França, onde o Thibault costumava passar suas férias quando criança, que Barbara e Thibault escolheram o para celebrar essa data tao especial ao lado de seus familiares e amigos.<br/><br/>
                    Nós estamos esperando impacientemente todos vocês para testemunhar conosco nosso amor no dia 20 de maio de 2023. Contamos com a presença de vocês!
                </p>
            </div>
            <aside>
                <img src="/images/history/mariage.png" alt="Mariage pictures Barbara and Thibault"/>
            </aside>
        </article>
    </section>
    <hr>
    <section>
        <article>
            <p>
                Confira abaixo algumas fotos do nosso casamento civil realizado no dia 23 de novembro de 2019, imortalizadas pelo nosso querido e irmão fotógrafo <a href="https://sartou.com/">Sartou</a>!
            </p>
        </article>
        <aside>
            <img src="/images/history/wedding.png" alt="Wedding Barbara and Thibault"/>
        </aside>
    </section>
</div>
<script>
  const updateCountDown = function() {
    // Jours Restants
    const weddingDate = new Date(2023, 5, 20);
    const today = new Date();
    const elapsedTime = weddingDate.getTime() - today.getTime();
    const daysLeft = Math.floor(elapsedTime / (1000 * 3600 * 24));

    document.getElementById("daysLeft").innerText = daysLeft;
    return daysLeft
  }

  updateCountDown();
</script>
{% endblock %}
