{% extends "layout.html" %} 
{% block content %}
<h1>Table des matières</h1>
<p id="infoTableOfContents">Table des matières</p>

<h1>Chegada / Entrada na Europa</h1>
<section>
    <article>
        <h2>Para os convidados que vêm do exterior.</h2>
        <p>
            Le <a href="https://www.diplomatie.gouv.fr/fr/venir-en-france/">Portal da Diplomacia</a>.<br/>
            Vocês podem encontrar no site oficial do ministério das relações exteriores da França, coleta as informações necessárias para chegar à França apesar dos redirecionamentos diretamente aos sites adaptados a cada país e a cada situação.<br/>
            <em>Observe que você pode alterar o idioma do site no canto superior direito de francês para um dos 5 idiomas seguintes : inglês, espanhol, alemão, russo ou árabe.</em>
        </p>
        <p>
            Uma vez dentro da Europa, saiba que você poderá circular livremente entre todos os países do espaço Schengen e com uma moeda única, para a maior parte da <a href="https://european-union.europa.eu/select-language?destination=/node/1">União Europeia</a>, o Euro.<br/>
            Euro EUR x Dolar Americano USD : <a href="https://finance.yahoo.com/quote/EURUSD=X/">EUR-USD</a> | Euro EUR x Real BRL : <a href="https://finance.yahoo.com/quote/EURBRL=X/">EUR-BRL</a>
        </p>
    </article>
    <article>
        <h2>Para os Brasileiros</h2>
        <p>
            Para todos nossos familiares e amigos vindos do Brasil, e por quem estamos ansiosos para receber, aqui está a lista de instituições diplomáticas franco-brasileiras, bem como o site oficial, onde vocês encontrarão todas as informações importantes e necessárias para sua visita.
            <ul>
                <li>A Embaixada da França no Brasil e suas páginas <a href="https://br.ambafrance.org/-Bem-vindo-a-Franca-">"Viajar para a França"</a> ou <a href="https://br.ambafrance.org/-COVID-19-424-">"Atualidades > Covid-19"</a>.</li>
                <li>A Embaixada do Brasil na França, sua página no <a href="https://www.gov.br/mre/pt-br/consulado-paris">Ministério das Relações Exteriores</a> e sua página <a href="https://www.gov.br/mre/pt-br/consulado-paris/viagens-entre-o-brasil-e-a-franca/covid-19">"Covid-19 - Condições de viagem > Entrada na França"</a>.</li>
                <li>A União Europeia e as suas páginas sobre a <a href="https://european-union.europa.eu/principles-countries-history/history-eu_pt">sua história</a> para saber mais ou <a href="https://european-union.europa.eu/live-work-study/travelling-eu_pt">viajar na UE</a>.</li>
            </ul>
        </p>
        <p>
            As informações mais importantes são :
            <ul>
                <li>Não é necessário que o brasileiro solicite um visto para vir à França/Europa se a duração da estadia for inferior a 90 dias entre os últimos 180 dias. Ou seja, depois de 3 meses na Europa, não basta esperar 1 dia para poder voltar. Você deve esperar pelo menos 3 meses para poder voltar à Europa.</li>
                <li>Depois de entrar na Europa, o espaço Schengen, que não inclui a Grã-Bretanha, permite que você se mova livremente sem ter que passar pela alfândega. Com isso, torna-se muito mais fácil atravessar as fronteiras livres de engarrafamentos. Este espaço inclui nomeadamente Portugal, Espanha, Itália, Alemanha, Bélgica, Holanda, Luxemburgo, etc.</li>
                <li>A<a href="https://european-union.europa.eu/select-language?destination=/node/1">União Europeia</a> (incluindo 27 países e totalizando 24 línguas  oficiais) é um mercado único. A maioria dos países que aderiram a ela aceitaram o modelo da moeda única introduzido em 2002, o Euro. A sua moda pode, portanto, servir-lhe tanto na França como em Portugal ou em qualquer outro lugar.</li>
                <li>As restrições do Covid não estão em vigor. Assim, não é necessário  justificar a sua estadia, nem cumprir qualquer formalidade administrativa, nem mesmo realizar ou submeter-se a um teste Covid.</li>
                <li>A CNH (carteira de habilitação brasileira) é reconhecida na França durante a sua estadia. As restrições se aplicam à partir do momento em que você tem um visto ou uma autorização de residência de um ano na França. Observe, no entanto, que você pode precisar solicitar uma autorização internacional antes de sua viagem ao Brasil. É um processo rápido, fácil e gratuito e não é necessário passar por nenhum exame.</li>
            </ul>
        </p>
    </article>
    <article>
        <h2>Informações importantes - situações especiais</h2>
        <h3>Covid-19</h3>
        <p>
            Vocês podem acompanhar as informações sobre as restrições de viagem devido à pandemia Covid-19 na França e no mundo através do <a href="https://www.gouvernement.fr/infocoronavirus/deplacement">portal oficial do governo sobre covid em francês</a> ou <a href="https://www.diplomatie.gouv.fr/en/coming-to-france/coming-to-france-your-covid-19-questions-answered/">no site da diplomacia em inglês</a>.<br/>
            Observe, no entendo, o parágrafo que menciona, datado em 23 de setembro de 2022 :<br/>
        </p>
        <p>
            Como resultado desde 1° agosto de 2022, as regras anteriormente aplicadas aos viajantes com destinação França não se aplicam mais:
            <ul>
                <li>"Os viajantes já  não tem de cumprir quaisquer formalidades antes da sua chegada na França e a apresentação do "passe de saúde" já não pode ser mais exigida, independentemente do país ou zona de origem";</li>
                <li>nenhum outro comprovante de viagem (ou "motivo convincente") pode ser exigido;</li>
                <li>os viajantes não precisam mais apresentar declaração juramentada de não contaminação e compromisso de realizar teste antigênico ou exame biológico na chegada ao território nacional.</li>
            </ul>
            <cite>Site do governo <a href="https://www.gouvernement.fr/infocoronavirus/deplacement#point_de_situation">InfoCoronavirus</a></cite>
        </p>
        <h3>Guerra Rússia-Ucrânia</h3>
        <p>
            Vocês já  devem saber que a Europa está sendo fortemente afetada pelo confronto entre Rússia e Ucrânia. A União Europeia, bem como muitos países da Europa geográfica manifestaram o seu desacordo com esta confrontação e tomaram a iniciativa de sanções  econômicas contra a Rússia, de forma a exercer pressão para acabar com esta guerra.<br/>
            No entanto, estas sanções econômicas têm repercussões no transporte de matérias-primas e recursos energéticos (como o gás, eletricidade e petróleo). A França enfrenta, portanto, uma inflação elevada nos últimos meses (em comparação aos anos anteriores), iniciada no período pós-covid e acentuada por essas repercussões das sanções econômicas.<br/>
            Por fim, o Euro sofreu uma forte desvalorização nas últimas semanas, o que é uma boa notícia para quem vem do exterior e assim, compensa, a partir de 23 de setembro de 2022, os efeitos da inflação.
        </p>
    </article>
</section>

<h1>Acesso ao local da cerimônia</h1>
<section>
    <article>
        <h2>Chegada na região</h2>
        <h3>De trem</h3>
        <p>
            A estação de trem mais próxima do local da recepção é a <a href="https://goo.gl/maps/GTTCsWJCfP2Sw4Sf6">Redon</a> a 8 km da igreja que fica também a 8 km do local da recepção.<br/>
            Vocês  podem reservar suas passagens cerca de 4 meses antes da data programada no site da <a href="https://www.sncf-connect.com/">SNCF Connect</a>, empresa de trens franceses. (A venda de passagens para o dia 20 de maio de 2023 ainda não está em vigor)<br/>
            Ao utilizar o site, tenha o cuidado de digitar Redon na barra de pesquisa principal e selecionar a proposta que menciona uma Estação. Além disso, ao retornar ao seu local de partida, lembre-se de que o centro de Paris possui 7 estações diferentes e que o aeroporto CDG também possui sua própria estação. Na hora de escolher, preste atenção na estação escolhida pois podem ser muito distantes uma da outra (cerca de 1h30 de transporte entre CDG e Montparnasse, por exemplo); Se você escolher "Paris" com a menção Cidade, as propostas devem incluir todas as estações do <b>intramural</b> de Paris (excluindo assim o aeroporto)<br/>
            <em>Por informação, um TGV (Trem de Alta Velocidade) direto liga a estação Paris Montparnasse (centro oeste de Paris, 15° arrondissement) à Redon, em 2h15. Vindo da estação do aeroporto de Paris Roissy-Charles-de-Gaulle, você precisará ter pelo menos 1 conexão (Nantes ou Rennes) e a viagem levará cerca de 4h30, conexão incluída.</em><br/>
            <em>Indique também no momento da pesquisa o número de passageiros e sua idade.</em>
        </p>
        <p>
            Você também deve saber que a Europa é muito bem servida de trem. Além disso, você encontrará no site da SNCP trens diretos de Paris para Milão, Munique, Stuttgart, Madrid e muitos outros destinos. Você também pode se conectar ao Omio, que é um comprador de empresas de trem, mas também aviões e ônibus para a mesma viagem na Europa.
        </p>
        <h3>De avaião</h3>
        <p>
            O local da recepção é acessível através dos seguintes aeroportos :
            <ul>
                <li><a href="https://www.rennes.aeroport.fr/en">Aeroporto Rennes Bretagne RNS</a> - 60kms; 45 minutos de carro; 1h30 de transporte (ônibus + trem)</li>
                <li><a href="https://www.nantes.aeroport.fr/en/homepage">Aeroporto de Nantes Atlantique NTE</a> - 75 min; 1h10 de carro; 1h45 de transporte (ônibus + trem)</li>
                <li><a href="https://www.parisaeroport.fr/en">Aeroporto de Paris Charles de Gaulle CDG</a> - 450 Kms; 4H45 de carro; 4h de TGV com conexão em Nantes ou Rennes (veja a seção de trem acima)</li>
            </ul>
        </p>
        <p>
            Os aeroportos de Nantes e Paris oferecem preços atrativos para viagens internacionais, especialmente em viagens curtas como Amsterdã, Munique, Milão, Roma, etc. se você quiser aproveitar para conhecer as capitais da Europa. Nice e Lyon também têm aeroportos com fortes conexões internacionais. Você pode usar o site <a href="https://www.kayak.fr/">Kayak</a> para fazer comparações entre as companhias aéreas, mas também o <a href="https://www.omio.fr/">Omio</a> que permite comparar com o trem e os ônibus.
        </p>
        <h3>De carro</h3>
        <p>
            A maneira mais impressionante de conhecer um país é através das suas belas estradas. Com uma estrutura impecável e paisagens diversas, a França possui itinerários extraordinários para quem ama dirigir e desbravar novos lugares.<br/>
            Em maio, estaremos na primavera, época na qual as rodovias não estão congestionadas. No entanto, observe que grandes cidades como Nantes, Rennes, Bordeaux e Paris sempre tem engarrafamentos nos horários de pico (entre 7h e 9h  e depois entre 17h e 19h de segunda a sexta).<br/>
            Quinta-feira, 18 de maio de 2023 sendo feriado, alguns engarrafamentos podem ocorrer devido ao final de semana prolongado. A viagem entre Paris e Bretanha pode se tornar mais longa do que o previsto. Por favor, adapte os seus horários de acordo com as suas obrigações de transporte.<br/>
        </p>
        <p>
            Informações importantes:
            <ul>
                <li>Você pode alugar um carro no aeroporto ou na cidade através de sites de agências de aluguel. Além dos sites de agências internacionais, como Avis, Europcar, Sixt, Hertz ou <a href="https://www.rentacar.fr/">Rent a car</a>, os comparadores permitem que você reserve gratuitamente, como a <a href="https://www.rentalcars.com/en/">Rentalcars</a></li>
                <li>É bom saber para dirigir na França:
                    <ul>
                        <li>Como mencionado anteriormente, a carteira de habilitação brasileira é reconhecida em todo território francês.</li>
                        <li>
                            Radares de velocidade e sinais vermelhos:
                            <ul>
                                <li>A velocidade autorizada na França varia de acordo com os lugares, mas a regra geral é : até 50 km/h dentro das cidades (exceto quando sinalizado entre 30 ou 70 km/h); 80 Km/h em estrada fora das áreas urbanizadas (exceto quando sinalizado entre 70 km/h ou 90 Km/h - sinais verdes ou brancos); 110 Km/h em estrada fora dos aglomerados com 2 vias separadas por uma reserva central (painéis verdes) ; 130 Km/h na auto-estrada (sinais azuis).</li>
                                <li>Os radares de velocidade são números e presentes em grande parte das estradas francesas. Eles multam em duas ocasiões: ultrapassar os sinais vermelhos quando a cor laranja é a cor sinalada e claro, ultrapassar os limites de velocidades assinalados pelas placas. Existem radares: fixos que capturam as placas dianteiras e traseiras que devem ser indicados em painéis alguns quilômetros antes; radares que calculam sua velocidade média em uma parte da estrada; móveis, ou seja, policiais que podem estar escondidos pelas estradas.</li>
                            </ul>
                        </li>
                        <li>Álcool : O consumo de álcool antes de pegar a estrada é permitido dentro do little de 0,25mg/L de ar exalado ou 0,5g/L de sangue - Geralmente são cerca de 2 cervejas (250 mL), ou 2 copos de vinho ou 1 copo de álcool forte (whisky, rum, etc - 40 ml)</li>
                        <li>
                            A utilização das autoestradas na França é paga através de pedágios. Existem vários tipos de pedágios, mas são mostrados da mesma forma. Alguns pedágios cobram um valor fixo não importa de onde você vem e você deve fazer o pagamento na entrada. É possível também que o sistema do pedágio faça o condutor pagar em função da parte utilizada das autoestradas. Logo na entrada, você receberá um ticket que permitirá calcular os quilômetros percorridos e então na saída, você será cobrado pelo valor referente a sua viagem. Ao chegar no pedágio, várias faixas serão apresentadas a você conforme a foto abaixo:
                            <ul>
                                <li>Faixas indicadas por um sinal de "t" ou "30" são reservadas para aqueles que possuem um aparelho eletrônico no qual te permite passar sem utilizar seu cartão de crédito. Cuidado para não pegá-los se você não possui esse aparelho.  São geralmente as faixas da extrema direita e extrema esquerda</li>
                                <li>As vias reservadas para pagamento com cartão de crédito indicadas por um sinal com o símbolo de um cartão de crédito</li>
                                <li>As vias que permitem o pagamento em dinheiro são indicadas por uma seta verde ou por um painel representando um bilhete e moedas. Na maioria das vezes, eles também permitem o pagamento com o cartão de crédito</li>
                                <li>As vias que não estão funcionando estão indicadas por um X vermelho</li>
                                <li><em>ATENÇÃO : Algumas vias têm vários dos sinais indicados acima, significando que você pode utilizar vários meios de pagamento. Por favor, evite as vias que indicam os sinais "t" ou "30" se você não tiver o aparelho eletrônico.</em></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Os aplicativos Google Maps e Waze funcionam muito bem na França. O waze é excelente pois indica até os radares de velocidade e a presença de policiais.</li>
                <li>
                    Gasolina
                    <ul>
                        <li>Conforme mencionado anteriormente, na seção sobre o conflito russo-ucraniano, a gasolina aumentou consideravelmente recentemente. Você pode acompanhar o preço médio na França através do site <a href="https://carbu.com/france/prixmoyens">carbu.com</a></li>
                        <li>Os automóveis na França têm motores a gasolina ou diesel. Isso geralmente é indicado dentro da tampa do combustível. Os motores a gasolina aceitam Unleaded 95 (SP95-E5) ou Unleaded 98 (SP98 - E10) - que são refinados e logo,  mais caros, enquanto os motores de Diesel aceitam Diesel B7.</li>
                        <li><em>Na França e geralmente em toda a Europa, você é quem deve encher o seu próprio tanque (exceto na Itália ou na Espanha, onde você pode encontrar frentistas) Além disso, é importante saber que você geralmente terá que pagar antes para que a gasolina esteja disponível. Você terá que inserir o cartão na máquina, digitar sua senha e então a gasolina será liberada para uso. Você pagará o valor final utilizado. Existem máquinas que pedem que seja inserido um valor para começar o processo. Tenha cuidado de indicar uma quantidade ou volume condizente com o que o veículo pode receber.</em></li>
                        <li><em>Por fim, como no Brasil, esteja ciente de que os postos de gasolina estão presentes na rodovia e a gasolina será mais cara que dentro das cidades.</em></li>
                    </ul>
                </li>
            </ul>
        </p>
        <p>
            Não deixe de visitar a aba "Organização Viagens"  que contém 3 propostas de roteiros sugeridas por nós para você conhecer melhor a França.
        </p>
    </article>
</section>
<section class="withAside">
    <article>
        <h2>Cerimônia</h2>
        <p>
            A cerimônia religiosa será realizada na Igreja de Saint-Jean-Baptiste que se encontra na "Rue de l'Église, CEP 35600 à Bains-sud-Ouest, França. A igreja fica localizada a 8 km da estação de trem Redon, a 80 km de Nantes ou a 70 km de Rennes ou ainda a 450 km de Paris.
        </p>
    </article>
    <aside>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10739.796734298898!2d-2.071773!3d47.7048241!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c8a8bcc4423d0cc!2s%C3%89glise%20Saint-Jean-Baptiste!5e0!3m2!1sen!2sfr!4v1669409891106!5m2!1sen!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </aside>
</section>
<section class="withAside">
    <article>
        <h2>Coquetel / Recepção</h2>
        <p>
            O coquetel, o jantar, a festa e o almoço do dia seguinte serão realizados dentro do espaço Chateau du Pordor que fica em Avessac, a também 8 km da estação de Redon, 80 km de Nantes ou 70 km de Rennes ou 450 km de Paris.
        </p>
    </article>
    <aside>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.0499528077735!2d-2.009537948708346!3d47.66402597908627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480f76133df33387%3A0x2727e2b1aeb81c30!2sCh%C3%A2teau%20du%20Pordor!5e0!3m2!1sen!2sfr!4v1663931564476!5m2!1sen!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </aside>
</section>


<h1>Reserve seu hotel</h1>
<section>
    <article>
        <p>
            Não deixe de reservar o seu hotel com antecedência, pois há poucas hospedagens na região. Sendo o casamento fora do período de verão, isso deve facilitar a disponibilidade para todos os nossos convidados.<br/>
            Segue abaixo uma lista de hotéis sugeridos que oferecem quartos próximos aos locais da recepção, que você pode reservar ligando diretamente para eles, conectando-se ao site ou localizando-os por meio de reserva.
        </p>
        <p>
            <table>
                <thead>
                    <tr>
                        <th>Nome do Hotel</th>
                        <th>Proximidade com o Pordor</th>
                        <th>Disponibilidade</th>
                        <th>Preço approximativo</th>
                        <th>Endereço e link Google Maps</th>
                        <th>Site internet</th>
                        <th>Link Booking</th>
                        <th>Numero de telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Château de Brossay</td>
                        <td>11 kms</td>
                        <td>7 chambres</td>
                        <td>95€+</td>
                        <td><a href="https://goo.gl/maps/SYPgjDEnmqTRG5fD6">Le Brossay, Renac (35)</a></td>
                        <td><a href="www.lebrossay.fr">Site</a></td>
                        <td><a href="https://www.booking.com/hotel/fr/le-brossay.fr.html">Booking</a></td>
                        <td>+33.6.84.35.98.39</td>
                    </tr>
                    <tr>
                        <td>La Grand’Maison</td>
                        <td>13 kms</td>
                        <td>4 chambres</td>
                        <td>60-112€<br/>(petit-déjeuner inclus)</td>
                        <td><a href="https://goo.gl/maps/1YgtUdrFS98nToHNA">Brain sur Vilaine, La Chapelle de Brain (35)</a></td>
                        <td><a href="www.la-grand-maison.fr">Site</a></td>
                        <td></td>
                        <td>+33.6.22.52.58.30</td>
                    </tr>
                    <tr>
                        <td>Queen Serenity Hôtel</td>
                        <td>8 kms</td>
                        <td>23 chambres + 2 studios + 2 appartements</td>
                        <td>60-190€<br/>(petit-déjeuner à 7€)</td>
                        <td><a href="https://goo.gl/maps/fG2RMkGrNd8YsYje9">Av. de la Gare, Redon (35)</a></td>
                        <td><a href="www.queen-serenity-hotel.fr">Site</a></td>
                        <td><a href="https://www.booking.com/hotel/fr/queen-serenity.fr.html">Booking</a></td>
                        <td>+33.2.99.71.13.20</td>
                    </tr>
                    <tr>
                        <td>Hôtel La Grée des Landes</td>
                        <td>20 kms</td>
                        <td>29 chambres</td>
                        <td>105€+</td>
                        <td><a href="https://goo.gl/maps/Wxffv1ftGwPXTDat7">Eco-hôtel Spa Yves Rocher, La Gacilly (56)</a></td>
                        <td><a href="www.lagreedeslandes.com">Site</a></td>
                        <td><a href="https://www.booking.com/hotel/fr/la-gree-des-landes-eco-spa-yves-rocher.fr.html">Booking</a></td>
                        <td>+33.2.99.08.50.50</td>
                    </tr>
                    <tr>
                        <td>Hôtel Le France</td>
                        <td>7.2 kms</td>
                        <td>16 chambres</td>
                        <td>53-80€<br/>(petit-déjeuner à 7€)</td>
                        <td><a href="https://goo.gl/maps/hhSPi5utr8s4QwiY9">30 rue Duguesclin, Redon (35)</a></td>
                        <td><a href="www.hotellefrance.fr">Site</a></td>
                        <td></td>
                        <td>+33.2.99.71.02.04<br/>+33.2.99.71.06.11</td>
                    </tr>
                    <tr>
                        <td>Hôtel Chandouineau</td>
                        <td>7.6 kms</td>
                        <td>7 chambres</td>
                        <td>83-93€<br/>(petit-déjeunerà 11€)</td>
                        <td><a href="https://goo.gl/maps/EzhqERCiDHeZEzn56">10, Av. de la Gare, Redon (35)</a></td>
                        <td><a href="www.hotel-restaurant-chandouineau.com">Site</a></td>
                        <td></td>
                        <td>+33.2.99.71.02.04</td>
                    </tr>
                    <tr>
                        <td>Hôtel Asther</td>
                        <td>7.5 kms</td>
                        <td>15 chambres</td>
                        <td>61-91€<br/>(petit-déjeuner à 8€)</td>
                        <td><a href="https://goo.gl/maps/1BHgwyesf1Juyks29">14, rue des Douves, Redon (35)</a></td>
                        <td><a href="www.asther-hotel.com">Site</a></td>
                        <td></td>
                        <td>+33.2.99.72.11.92</td>
                    </tr>
                    <tr>
                        <td>Hôtel Bel Hôtel</td>
                        <td>6.7 kms</td>
                        <td>27 chambres</td>
                        <td>58-63€<br/>(petit-déjeuner à partir de 7.50€)</td>
                        <td><a href="https://goo.gl/maps/Gtgtbou67kaMX8Fx6">42, Avenue Jean Burel, St Nicolas de Redon (44)</a></td>
                        <td><a href="www.contact-hotel.com/reserver-hotel-france/1078/bel-hotel-saint-nicolas-de-redon.html">Site</a></td>
                        <td><a href="https://www.booking.com/hotel/fr/bel.fr.html">Booking</a></td>
                        <td>+33.2.99.71.10.10</td>
                    </tr>
                    <tr>
                        <td>Ibis Bugdet Hôtel</td>
                        <td>6.4 kms</td>
                        <td>38 chambres</td>
                        <td>61€+</td>
                        <td><a href="https://g.page/ibis-budget-redon?share">7 rue Louis Guilliux - ZAC, La porte (Route de Rennes), Redon (35)</a></td>
                        <td><a href="www.ibis.com">Site</a></td>
                        <td><a href="https://www.booking.com/hotel/fr/etap.fr.html">Booking</a></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </p>
    </article>
</section>


<h1>Prepare sua viagem</h1>
<section>
    <article>
        <h2>Clima</h2>
        <p>
            A França tem vários tipos de climas. A França é marcada por 4 estações bem distintas que são as seguintes: Inverno : bem frio entre -15°C no Norte e -5°C no Sul / Verão : bem quente até 40°C em todo o território / Primavera e Outono entre 10 e 25°C.<br/>
            Costuma-se dizer na França : "Em abril, não se descubra nem de um fio. Em maio, faça como você quiser! " De fato,o mês de maio corresponde ao meio da primavera, os dias estão ficando mais longos e o pôr do sol na Bretanha, região na qual nos casaremos, para o dia 20 de maio de 2023 será mais ou menos às 21h30. No entanto, o calor não corresponde ao do verão que se mantém mesmo de noite. Principalmente nesta região, onde o clima oceanico pode mudar de uma hora pra outra. Costuma-se dizer na bretanha que o tempo é bom todos os dias , e até várias vezes ao dia. A chuva pode aparecer a qualquer momento, mesmo se a sua época é prevista entre março/abril e outubro/novembro.<br/>
            Para resumir, saiba que o clima esperado para o 20 de maio é um dia ensolarado em torno de 20-25°C e uma noite mais amena a partir das 21h. No entanto, pode-se esperar uma pancada de chuva e/ou frio baixando assim a temperatura para cerca de 10°C e obrigar-nos a usar guarda-chuvas. Portanto, preveja casacos para a cerimônia religiosa visto que a igreja e o local da recepção não terão aquecedor. Por fim, se você está planejando dar uma passada no sul em torno de marselha e/ou Nice, esteja ciente que nesta época,  a chuva é rara e que as temperaturas geralmente não passam de 20°C.
        </p>
        <h2>Visite a região ou o Velho Continente, a Europa</h2>
        <p>
            A Europa é um continente cheio de histórias e locais culturais muito interessantes para visitar. Como a <a href="https://european-union.europa.eu/index_fr">União Europeia</a> tem livre circulação de pessoas, é muito fácil se locomover. Tem 27 países membros e tem 24 línguas oficiais. Verifique na aba "Acesso ao local da cerimônia" para saber as várias maneiras de transporte juntamente com os links direcionados para os sites. Recomendamos o site <a href="https.www.omio.fr">Omio</a>, um comparador de passagens de ônibus, trem e avião que funciona em toda a Europa.<br/>
            Por fim, saiba que 3 propostas de roteiros de viagens na região Noroeste da França estão disponíveis na aba "Organização > Viagens"
        </p>
        <h2>O Tax-Free</h2>
        <p>
            Na Europa, no momento da compra de qualquer item, devemos pagar um imposto que se chama TVA (Imposto sobre o Valor Agregado) que geralmente corresponde a 20% do preço total. A lei francesa obriga as lojas a indicar claramente o preço dos bens e serviços vendidos, que são sempre apresentados com impostos (todos os impostos incluídos) e, portanto, incluindo este imposto de 20%.<br/>
            <strong>Ao fazer uma compra</strong>, o estrageiro pode solicitar à loja o cumprimento das formalidades para poder solicitar a restituição do imposto. No aeroporto, juntamente com sua passagem de volta, os estrangeiros têm a possibilidade de serem reembolsados do valor da TVA, ou seja, 20% do preço de um celular Iphone por exemplo, corresponde a cerca de 200€ de redução na compra. Esse valor será reembolsado na apresentação da sua passagem, no momento do seu retorno ao país de origem. Atençao, nao sao todas as lojas que oferecem esse serviço.
        </p>
        <h2>Curiosidades sobre a Europa para os Sul-Americanos</h2>
        <h3>A comida</h3>
        <p>
            Você pode se surpreender com a comida francesa, que corresponde a uma das mais ricas e diversificadas do mundo.<br/>
            No entanto, é também uma cozinha rica em glúten e gordura, e muito menos proteinada do que na América Latina.<br/><br/>
            O café da manhã costuma ser doce e consiste em croissants e/ou pain au chocolat, além de fatias de pão com geleias, muitas vezes acompanhadas de um copo de suco de laranja. Alguns restaurantes e brasseries (restaurantes que também abrem fora do horário de serviço para aperitivos, cafés ou bebidas) adotaram o estilo americano de ovos com bacon pela manhã.<br/><br/>
            O almoço costuma ser composto da seguinte forma : uma bebida como aperitivo (opcional), uma entrada (salada ou pequeno prato), prato principal (acompanhado de carne ou peixe), uma tábua de queijos (opcional), uma sobremesa (potencialmente fruta ou iogurte) e finalmente, um café ou chá.<br/>
            Existem muitos pratos diferentes na França e as carnes geralmente consumidas são : carne de boi ou bezerro (vitela), frango, porco, carneiro, pato, pombo, rã, caracóis, etc. Perto do mar, também há muitos peixes como o robalo, o linguado ou mariscos (camarões, lagostas, caranguejos e aranhas do mar na Bretanha).<br/>
            A cerveja importada da Bélgica e/ou da Alemanha está muito presente, porém o vinho é a bebida mais servida e que acompanha as refeições francesas. Para os vinhos, uma regra bastante simplista é que os tintos acompanham pratos de carne (pois tem um sabor mais forte) e os brancos acompanham peixes e queijos, enquanto os rosés são reservados para aperitivos alguns álcoois fortes (pastis, uísques, etc...).<br/>
            A refeição pode terminar com um digestivo, geralmente servido em um shooter : A calva (licor de maçã) vem do Noroeste, enquanto o limoncello vem mais da Itália e do Sudeste da França (cidade de Menton), a murta da Córsega e o Génépi ou Chartreuse das montanhas (Alpes).<br/><br/>
            Por fim, o jantar é geralmente mais leve que o almoço, geralmente uma sopa ou legumes seguidos de uma salada com queijos.
        </p>
        <h3>Hábitos surpreendentes</h3>
        <p>
            Alguns hábitos europeus pode surpreender nossos amigos sul-americanos e é importante que você os conheça :
            <ul>
                <li>A primeira diz respeito ao papel higiênico. De fato, raramente você encontrará lixos nos banheiros (exceto para as mulheres descartarem absorventes menstruais), simplesmente porque os franceses jogam o papel diretamente no vaso sanitário. Os canos dos esgotos são maiores do que os na América Latina, por isso não causam bloqueios.</li>
                <li>A água corrente (da torneira) é geralmente potável e é obrigatório ser indicado se a água não é potável. Tenha cuidado apenas nos meios de transporte (trens e aviões) onde raramente a água é potável.</li>
                <li>As lojas geralmente abrem das 10h às 19h durante a semana e fecham aos domingos, com exceções na segunda-feira. Cuidado aos domingos, muitos permanecem fechados (você ficará surpreso) e você só pode contar com alguns supermercados e padarias que abrem pela manhã. Os shoppings ou centros comerciais não costumam abrir no domingo, exceto em cidades como Paris, onde algumas lojas podem abrir até mais tarde e nos finais de semana.</li>
                <li>As lojas são obrigadas a indicar os preços incluindo as taxas (prix en TTC) na venda dos seus bens e serviços. Além disso, sem surpresas quando chegar ao checkout. Se um preço foi listado incorretamente devido a um erro da loja, a loja é obrigada a vender o item pelo preço listado, mesmo que seja menor (como no Brasil). No entanto, pelo fato dos preços já estarem  indicados geralmente não há espaço para negociação.</li>
                <li>Os restaurantes incluem a gorjeta do garçom nos preços indicados. Além disso, não é costume deixar 10 ou 25% de gorjeta. Uma moeda de 1 ou 2 euros pode servir para um almoço/jantar ou alguns centavos, para um café. Se você achou que o serviço foi muito bom, você pode ser mais generoso, é claro.. Fica a critério de cada um.</li>
                <li>No momento da refeição, o pão e a água da torneira são gratuitos e servidos à vontade a pedido do cliente. Tenha cuidado na hora de fazer o seu pedido. Peça por uma "carafe d'eau" (garrafa de água gratuita servida da torneira) no lugar de água mineral ou água com gás. Além disso, ao contrário da Itália, os talheres não são cobrados.</li>
                <li>Cuidado com metrópoles como Paris ou Marselha, que não são tão seguras quanto os estrangeiros pensam... E principalmente com os batedores de carteira, conhecidos como pick-pockets. Eles geralmente estão espalhados pelas áreas turísticas ou nos transportes públicos.</li>
                <li>Os táxis são geralmente caros e as cidades são frequentemente bem servidas de transportes públicos (ônibus, metrô e vlt). Todos os franceses usam essas redes com frequência, especialmente em Paris, onde o metrô é bem utilizado.</li>
            </ul>
        </p>
    </article>
</section>

<script>
    const h1Titles = document.getElementsByTagName('h1');

    let infoTableOfContents = document.getElementById('infoTableOfContents');
    let h1TitlesHtml = "<ul>";
    for (var i = 1; i < h1Titles.length; i++) {
        h1TitlesHtml = h1TitlesHtml + "<li>" + h1Titles[i].innerText + "</li>";
    }
    h1TitlesHtml = h1TitlesHtml + "</ul>";

    infoTableOfContents.innerHTML = h1TitlesHtml;
</script>
{% endblock %}
