{% extends "layout.html" %} 
{% block content %}
<div id="menupageBody">
    <img
        src="/images/titles/organisation.png"
        alt="Title logo - organisation"
        class="titleLogo"
    />
    <p>
        A página da organização disponibiliza todas as informações, conselhos e links que nós achamos pertinentes para a organização da sua vinda ao nosso casamento na região de Rondon. Essa seção se divide em 3 partes que você pode acessar através do menu de navegação acima ou clicando nos links abaixo:
    </p>
    <div id="navPage">
        <a href="org/info">
            <div class="navPageItem">
                <p class="navPageTitle">Informações pertinentes</p>
                <p class="navPageContent">Esta página reúne conselhos práticos para os estrangeiros sobre a vinda para a França, informações sobre a situação relacionada ao Covid-19 e a guerra na Ucrânia; os métodos de chegada ao casamento por meio de trem, avião, carro; a lista de hotéis próximos, prepare-se para sua viagem; a Europa e seus costumes locais.</p>
            </div>
        </a>
        <a href="org/program">
            <div class="navPageItem">
                <p class="navPageTitle">Programa</p>
                <p class="navPageContent">Cronograma do dia 20 de maio de 2023.</p>
            </div>
        </a>
        <a href="org/trips">
            <div class="navPageItem">
                <p class="navPageTitle">Roteiros</p>
                <p class="navPageContent">Vocês vão encontrar 3 roteiros de viagens disponíveis para aqueles que desejam visitar e conhecer o noroeste da França.</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
