{% extends "layout.html" %} 
{% block content %}
<img
    src="/images/titles/br/relatives.png"
    alt="Title logo - relatives"
    class="titleLogo"
/>
<div id="groomAndBride">
    <div>
        <h1>Thibault</h1>
        <div class="people">
            <img src="/images/parents/parentsThibault.png" alt="Picture André & Brigitte" />
            <p>
                André e Brigitte, os pais de Thibault, o último de seus cinco filhos, se conheceram em Paris em 1975.<br/><br/>
                Eles são respectivamente de Vercel (cidade perto de Besançon) e de Paris e vêm de diferentes origens sociais, o que lhes permitiu, em torno de fortes valores comuns transmitir aos seus 5 filhos e 10 netos, como é  incrível a experiência de construir um projeto é uma aventura juntos, unidos pelo amor.<br/><br/>
                Após o início da sua carreira como engenheiro e por uma forte vocação e profundo amor pela humanidade, André seguiu a sua carreira de médico-cirurgião. Para cumprir sua missão, ele teve de fato a chance de ser apoiado por sua incrível esposa, Brigitte, que nunca deixou de manter a família unida em torno deste belo valor da fraternidade e de ajudar cada um de seus filhos a encontrar seus caminhos na sociedade.<br/><br/>
                O trabalho do pai e a família da mãe, um atalho muito rápido quando você sabe que a mãe foi por várias vezes uma enfermeira tão próxima de seus pacientes, com o mesmo espírito do marido, e quando você percebe quantos quilômetros o pai está pronto para fazer para visitar um jovem estudante que se prepara para entrar na vida acadêmica e que terá apenas algumas horas para passar ao seu lado.<br/><br/>
                Essa é a história dos meus pais. A história de um casal que vai fazer o filho querer construir uma família e dividir com uma mulher maravilhosa o amor que lhe deram durante todos esses anos juntos. O desejo de construir um projeto baseado nos mesmo valores transmitidos que são o respeito ao próximo, a humildade, o trabalho árduo, o amor fraterno; mas também liberdade, fidelidade, indissolubilidade e fecundidade.
            </p>
        </div>
    </div>

    <div>
        <h1>Bárbara</h1>
        <div class="people">
            <img src="/images/parents/parentsBarbara.png" alt="Picture Franzé & Ana Niedja" />
            <p>
                Mensagem em construção. Se reconecte em algumas semanas para ver a atualização.
            </p>
        </div>
    </div>
</div>
{% endblock %}
