{% extends "layout.html" %} 
{% block content %}
<div id="presentsBody">
    <img
        src="/images/titles/br/presents.png"
        alt="Title logo - presents"
        class="titleLogo"
    />
    <p>Nossa lista de presente de casamento está disponível no site a seguir : <a href="https://www.millemercismariage.com/barbara-thibault/liste.html" target="_blank">www.millemercismariage.com/barbara-thibault/liste.html</a></p>
    <p>
    Uma vez clicando no link acima, você poderá participar de duas formas :
    <ul>
        <li>Contribuindo para nossa lua de mel clicando na opção "participation libre"</li>
        <li>Escolhendo um dos presentes que colocamos na nossa lista.</li>
    </ul>
    Para os brasileiros que não possuem cartão internacional e gostariam de nous présenter de alguma forma, sugerimos a transferência do valor da sua contribuição livre ou do presente da nossa lista por meio do PIX seguinte :<br/>
    61 9 9988 9108 - Ana Niedja Mendes Nunes<br/>
    Pedimos que nos informem qual foi o presente escolhido, para que ele seja retirado da nossa lista.<br/>
    Muito obrigada pela sua participação e até breve no grande dia !
    </p>
</div>
{% endblock %}
