{% extends "layout.html" %} 
{% block content %}
<div id="presentsBody">
    <img
        src="/images/titles/br/presents.png"
        alt="Title logo - presents"
        class="titleLogo"
    />
    <p>Vous pouvez dès à présent trouver notre liste de cadeaux de mariage sous le lien qui suit : <a href="https://www.millemercismariage.com/barbara-thibault/liste.html" target="_blank">www.millemercismariage.com/barbara-thibault/liste.html</a></p>
    <p>Une fois que vous avez cliqué sur le lien, vous verrez que vous pourrez participer de deux façons différentes :
    <ul>
        <li>en participant pour notre lune de miel via l'outil de "participation libre"</li>
        <li>en choisissant parmi les cadeaux que nous avons mis à notre liste et que vous retrouverez plus bas dans la page</li>
    </ul>
    Merci d'avance devotre participation et à très vite à nos côtés pour célébrer notre mariage!
</div>
{% endblock %}
