{% extends "layout.html" %} 
{% block content %}
<div id="presentsBody">
    <p>Em construção</p>
    <p>Por favore se reconecte em algumas semanas para aceder a esta seção.</p>
</div>
{% endblock %}
