{% extends "layout.html" %} 
{% block content %}
<section id="presenceConfirmation">
    <div>    
        <p>
            Para confirmar sua presença ou ausência, por favor envie um e-mail para : <a href="mailto:contact@barbara-thibault.fr?subject=Presença no casamento&body=Nome Completo:%0DPresença: Sim/Não%0DDeixe abaixo um comentario e/ou sua duvida, caso tenha. Entraremos em contacto para resorverlo.">contact@barbara-thibault.fr</a> - <em>Nós responderemos com uma confirmação de recebimento</em>.</li>
        </p>
    </div>
</section>
{% endblock %}
