{% extends "layout.html" %} 
{% block content %}
<div id="presentsBody">
    <p>Em construção</p>
    <p>Por favor, se conecte em algumas semanas para ter acesso a nossa lista de presentes </p>
</div>
{% endblock %}
