{% extends "layout.html" %} 
{% block content %}
<section id="presenceConfirmation">
    <div>    
        <p>
            Para confirmar a sua presença ou ausença, por favor responde com um dos próximos modos:
            <ul>
                <li>Por correio a uma dos endereços aqui em baixo;</li>
                <li>Por email a <a href="mailto:contact@barbara-thibault.fr?subject=Presença no casamento&body=Nome:%0DPresença: Sim/Não%0DQuem vem no Cocktail?%0DQuem vem no Jantar?%0DComentarios addicionais: ">contact@barbara-thibault.fr</a> - <em>nos responderam com uma confirmação de boa recepção.</em>.</li>
            </ul>
        </p>
    </div>
</section>
{% endblock %}
