{% extends "layout.html" %} 
{% block content %}
<section id="presenceConfirmation">
    <div>    
        <p>
            Afin de confirmer votre présence, nous vous prions de bien vouloir répondre de l'une des manières suivantes
            <ul>
                <li>Par courrier à l'une des deux adresses indiquées en bas de la page ;</li>
                <li>Par email à <a href="mailto:contact@barbara-thibault.fr?subject=Presencia no casamento&body=Nome:%0DPresencia:%0DQuem vem no Cocktail?%0DQuem vem no Jantar?%0DComentarios addicionais: ">contact@barbara-thibault.fr</a> - <em>nous vous enverrons alors une confirmation de bonne réception</em> ;</li>
            </ul>
        </p>
    </div>
</section>
{% endblock %}
