{% extends "layout.html" %} 
{% block content %}
<img
    src="/images/titles/br/program.png"
    alt="Title logo - program"
    class="titleLogo"
/>
<h1>Programação</h1>
<div class= "programItem">
    <p>
        14:30
    </p>
    <p>
        Missa<br/>
        <em>Igreja Saint-Jean-Baptiste - rue des l'Église - 35600 - Bains-sur-Oust, France</em>
    </p>
</div>
<div class= "programItem">
    <p>
        17:30+
    </p>
    <p>
        Coquetel<br/>
        <em>Jardim do Castelo do Pordor - 44460 - Avessac, France</em>
    </p>
</div>
<div class= "programItem">
    <p>
        19:45+
    </p>
    <p>
        Recepção / Jantar<br/>
        <em>Interior do Castelo do Pordor - 44460 - Avessac, France</em>
    </p>
</div>
<div class= "programItem">
    <p>
        23:00+
    </p>
    <p>
        Festa<br/>
        <em>Sala de Dança do Château du Pordor - 44460 - Avessac, France</em>
    </p>
</div>
<div class= "programItem">
    <p>
        11:00+<br/>
        (J+1)
    </p>
    <p>
        Brunch<br/>
        <em>Jardim em frente ao Castelo do Pordor - 44460 - Avessac, France</em>
    </p>
</div>
{% endblock %}
