{% extends "layout.html" %} 
{% block content %}
<div id="menupageBody">
    <p>
        A aba "nossos pais e padrinhos" descreve um pouco sobre nossos pais, padrinhos, daminhas e pajens.
    </p>
    <div id="navPage">
        <a href="org/info">
            <div class="navPageItem">
                <p class="navPageTitle">Nossos padrinhos</p>
            </div>
        </a>
        <a href="org/program">
            <div class="navPageItem">
                <p class="navPageTitle">Nossos pais</p>
            </div>
        </a>
        <a href="org/trips">
            <div class="navPageItem">
                <p class="navPageTitle">Nossas daminhas e nossos pajens </p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
