{% extends "layout.html" %} 
{% block content %}
<img
    src="/images/titles/br/relatives.png"
    alt="Title logo - relatives"
    class="titleLogo"
/>
<h1>Nosso Fotógrafo</h1>
<div class="people">
    <img src="/images/witnesses/sartou.png" alt="Picture Arturo" />
    <p>
        Sartou, cunhado do Thibault, é de origem mexicana. Será fácil de reconhecê-lo pois seu sorriso contagia a todos. Não se assuste se do nada ele começar a cantar Queen ou Luciano Pavarotti. Ele é assim : divertido, alegre, simpático, engraçado e adora contar histórias.. Se são verdadeiras ou não, não sabemos..<br/><br/>
        Além do mais, você não deixará de vê-lo por trás de uma câmera. Estamos muito felizes e animados de saber que nosso dia será registrado pelas câmeras dele porque ele é o melhor fotógrafo do mundo e nós podemos provar.<br/><br/>
        Para descobrir o trabalho dele, você pode acessar o site : <a href="https://sartou.com">sartou.com</a><br/><br/>
        Querido Sartou, nós te amamos muito e não vemos a hora de dividir esse dia ao lado dos nossos pais, familiares e amigos. E você está nos permitindo eternizar esse momento com suas belas fotos. Somos gratos por esse presente maravilhoso de casamento.
    </p>
</div>
<h1>Nossa Oradora</h1>
<div class="people">
    <img src="/images/witnesses/fernanda.png" alt="Picture Fernanda" />
    <p>
        Ela que tem fé em seu nome, foi a escolhida por nós dois para ser nossa oradora. Será ela quem vai passar a mensagem bíblica em português durante o nosso casamento.<br/><br/>
        Essa missão tão especial e importante foi dada para minha amiga mais velha, ou melhor, amizade mais antiga. São 21 anos de amizade, crescendo e amadurecendo juntas, compartilhando momentos únicos desde a escola. Sempre me aconselhando a buscar minha felicidade mesmo se as situações da vida pareciam inviáveis. Sim, foi ela quem me incentivou a continuar um relacionamento a distância, que parecia não dar em nada, e virou casamento.<br/><br/>
        Não poderia ter escolhido outra pessoa a não ser ela, que é uma mulher de Deus, para falar d’Ele quando receberemos a bênção divina.
    </p>
</div>
<h1>Nossa Tradutora</h1>
<div class="people">
    <img src="/images/witnesses/dani.png" alt="Picture Dani" />
    <p>
        A Dani é a brasileirinha que está sempre por perto e me aproxima das minhas origens.<br/><br/>
        Nossa amizade é recente e estar com ela vai além de falar o português. Estar longe de nosso país, fez-nos aproximarmos cada vez mais uma da outra.<br/><br/>
        Novas amizades sempre trazem um sabor especial para nossa vida e a Dani, com seu jeitinho cativante, chegou para abrasileirar minha vida francesa.<br/><br/>
        Ela aceitou, com muito carinho, um pedido muito especial dos noivos : ser nossa tradutora. Ela está cheia de responsabilidades hein. Traduzir os discursos não vai ser fácil não..<br/><br/>
        Obrigada, querida Dani. Sentimos verdadeira gratidão pela sua ajuda.
    </p>
</div>
{% endblock %}
