{% extends "layout.html" %} 
{% block content %}
<img
    src="/images/titles/trips.png"
    alt="Title logo - trips"
    class="titleLogo"
/>
<h1>Introdução</h1>
<div class= "tripText">
    <p>Por favor encontre aqui em baixo as 3 proposições de roteiros para aqueles aue vem festejar o nosso casamento con nos e que querem visitar!<br/>
    As três proposições são:
    <ol>
        <li>De Paris a Versailles pasando pela Normandia e pelos Castelos da Loire</li>
        <li>La Rochelle, a Gironde e os Castelos da Loire</li>
        <li>A Bretagna</li>
    </ol>
    </p>
</div>
<div id='introTripsImages'>
    <img src="/images/trips/trip_1.png" class='introTripsImage' alt="Voyage Paris, Normandie, Loire, Versailles" />
    <img src="/images/trips/trip_2.png" class='introTripsImage' alt="Voyage La Rochelle, la Gironde et la Loire" />
    <img src="/images/trips/trip_3.png" class='introTripsImage' alt="La Bretagne" />
</div>
<div class= "tripText">
    <p>A seção que segui presenta cada proposição mais em detalhe. Você pode achar um paragrafo por proposição, composto de:
    <ul>
        <li>uma tabela recapitulativa com, para cada etapa proposta, um link da geolocalisação do lugar no Google Maps, alugmas indicações de visita e links de sites útils (i.e. oficinas de turismo);</li>
        <li>uma imagem mostrando o roteiro proposto em uma mapa da França e um zoom na região da viagem</li>
    </ul>
    </p>
    <p><em>NB: as imagems são as mesmas de que na introdução, elas ficam então em tamanho pequeno do lado das tabelas mas você pode fazer elas crescerem (ou depois reduzirem) com um click em cima.</em></p>
</div>



<!-- Première proposition-->
<div><h1>I. De Paris a Versailles pasando pela Normandia e pelos Castelos da Loire</h1></div>
<section id="trip1">
    <aside>
        <img src="/images/trips/trip_1.png" class="smallTripImage" alt="Voyage Paris, Normandie, Loire, Versailles" />
    </aside>
    <article>
        <table>
            <thead>
                <tr>
                    <th>Étape</th>
                    <th>Lieu</th>
                    <th>Visites proposées</th>
                    <th>Liens utiles</th>
                    <th>Distance étape</th>
                    <th>Distance totale</th>
                    <th>Localisation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>Aéroport CDG</td>
                    <td></td>
                    <td><a href="https://www.parisaeroport.fr/en">Aeroportos de Paris</a></td>
                    <td>0 kms</td>
                    <td>0 kms</td>
                    <td><a href="https://goo.gl/maps/kdURXZpbAz5S68vNA">Google Maps</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Paris</td>
                    <td>Proposition particulière</td>
                    <td><a href="https://pt.parisinfo.com/">Site oficial do Turismo de Paris</a></td>
                    <td>30 kms</td>
                    <td>30 kms</td>
                    <td><a href="https://goo.gl/maps/DptyncAUp1mc2w3SA">Google Maps</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Rouen</td>
                    <td>Cathédrale</td>
                    <td><a href="https://en.normandie-tourisme.fr/unmissable-sites/rouen/">Turismo Normandie - Rouen</a></td>
                    <td>130 kms</td>
                    <td>160 kms</td>
                    <td><a href="https://goo.gl/maps/dVWwZKUs7RZEu9CFA">Google Maps</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Étretat</td>
                    <td>Falaises</td>
                    <td><a href="https://en.normandie-tourisme.fr/unmissable-sites/etretat/">Turismo Normandie - Étretat</a></td>
                    <td>90 kms</td>
                    <td>250 kms</td>
                    <td><a href="https://goo.gl/maps/HbnBXPJUTk21phuE9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Le Havre</td>
                    <td>Port</td>
                    <td><a href="https://en.normandie-tourisme.fr/unmissable-sites/le-havre/">Turismo Normandie - Le Havre</a></td>
                    <td>30 kms</td>
                    <td>280 kms</td>
                    <td><a href="https://goo.gl/maps/1td3RbmeJF6yH84t6">Google Maps</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Honfleur</td>
                    <td></td>
                    <td><a href="https://en.normandie-tourisme.fr/unmissable-sites/honfleur/">Turismo Normandie - Honfleur</a></td>
                    <td>25 kms</td>
                    <td>305 kms</td>
                    <td><a href="https://goo.gl/maps/uTYRmoZsg15GQ4AY9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Bayeux</td>
                    <td>Musée du Débarquement</td>
                    <td><a href="https://en.normandie-tourisme.fr/unmissable-sites/bayeux/">Turismo Normandie - Bayeux</a></td>
                    <td>93 kms</td>
                    <td>398 kms</td>
                    <td><a href="https://goo.gl/maps/W75CazYpJG2ZSwWD8">Google Maps</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Sainte-Mère-Église</td>
                    <td>Omaha Beach<br/>Normandy American Cemetery<br/>Utah Beach</td>
                    <td><a href="https://en.normandie-tourisme.fr/discover/history/d-day-and-the-battle-of-normandy/d-day-landing-beaches/map/">Turismo Normandie - As praias do D-Day</a><br/><a href="https://www.encotentin.fr/sainte-mere-eglise/">Turismo Cotentin - Sainte-Mère-Église</a></td>
                    <td>60 kms</td>
                    <td>458 kms</td>
                    <td><a href="https://goo.gl/maps/pirotXwheorw314NA">Google Maps</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Granville</td>
                    <td></td>
                    <td><a href="https://en.normandie-tourisme.fr/unmissable-sites/granville-chausey/">Turismo Normandie - Granville</a></td>
                    <td>80 kms</td>
                    <td>538 kms</td>
                    <td><a href="https://goo.gl/maps/GDNfxKnYFbVwzUhU9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Mont Saint-Michel</td>
                    <td>Comer uma omelette na Mère Poulard</td>
                    <td><a href="https://en.normandie-tourisme.fr/unmissable-sites/the-mont-saint-michel/">Turismo Normandie - Mont Saint-Michel</a><br/><a href="https://lamerepoulard.com/en/home2/">Site da Mère Poulard</a></td>
                    <td>50 kms</td>
                    <td>588 kms</td>
                    <td><a href="https://goo.gl/maps/CbBmkonEq9a6fiaP7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Château du Pordor</td>
                    <td>MARIAGE</td>
                    <td><a href="">?</a></td>
                    <td>150 kms</td>
                    <td>738 kms</td>
                    <td><a href="https://goo.gl/maps/vtjFVjdPpUPXbGbb7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Guérande</td>
                    <td>Marais salants<br/>La Baule<br/>Côte Sauvage</td>
                    <td><a href="https://tourisme-loireatlantique.com/selection/quoi-faire-a-guerande/">Turismo Loire Atlantique - Guérande</a><br/><a href="https://en.labaule-guerande.com/">Turismo Guérande & La Baule</a></td>
                    <td>60 kms</td>
                    <td>798 kms</td>
                    <td><a href="https://goo.gl/maps/v2BtGQ6jy8zzuXuN9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Saint-Nazaire</td>
                    <td>Chantier Naval de l'Atlantique</td>
                    <td><a href="https://tourisme-loireatlantique.com/selection/quoi-faire-a-saint-nazaire/">Turismo Loire Atlantique</a><br/><a href="https://www.saint-nazaire-tourisme.uk/">Turismo Saint-Nazaire</a></td>
                    <td>20 kms</td>
                    <td>818 kms</td>
                    <td><a href="https://goo.gl/maps/gYsUaYZrbQGHFU657">Google Maps</a></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Saumur</td>
                    <td rowspan="7">Châteaux de la Loire</td>
                    <td rowspan="7"><a href="https://www.chateaux-de-la-loire.fr/popular-itineraries.htm">Roteiros populares dos Castelos da Loire</a><br/><a href="https://www.tourismeloiret.com/en/discover/12-must-sees-made-loiret/chateaux-along-loire">Turismo Loiret</a><br/><a href="https://www.chateau-saumur.fr/en/">Saumur</a> | <a href="https://www.azay-le-rideau.fr/en/">Azay-le-Rideau</a> | <a href="https://www.chateau-amboise.com/pt/">Amboise</a> | <a href="https://www.chenonceau.com/wp-content/uploads/2018/03/guide-2018-BRA.pdf">Chenonceau</a> | <a href="https://domaine-chaumont.fr/pt/castelo-parque-historico-e-cavalaricas">Chaumont</a> | <a href="https://beauregard-loire.com/en/">Beauregard</a> | <a href="https://www.chambord.org/en">Chambord</a></td>
                    <td>200 kms</td>
                    <td>1018 kms</td>
                    <td><a href="https://g.page/chateaudesuamurofficiel?share">Google Maps</a></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Azay-le-Rideau</td>
                    <td>65 kms</td>
                    <td>1083 kms</td>
                    <td><a href="https://goo.gl/maps/jakSNtusRysJh82CA">Google Maps</a></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Amboise</td>
                    <td>60 kms</td>
                    <td>1143 kms</td>
                    <td><a href="https://goo.gl/maps/gNAqtQ4pHmHhMZ5P7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Chenonceau</td>
                    <td>15 kms</td>
                    <td>1158 kms</td>
                    <td><a href="https://goo.gl/maps/SyhFzoTihrAr1eYb6">Google Maps</a></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Chaumont</td>
                    <td>25 kms</td>
                    <td>1183 kms</td>
                    <td><a href="https://goo.gl/maps/y5DUJ23Gz6bHPPbv5">Google Maps</a></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Beauregard</td>
                    <td>20 kms</td>
                    <td>1203 kms</td>
                    <td><a href="https://goo.gl/maps/gfbcHFbGZGuZQB3F6">Google Maps</a></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Chambord</td>
                    <td>20 kms</td>
                    <td>1223 kms</td>
                    <td><a href="https://goo.gl/maps/zjiSBJD4DSMvqCLc9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Orléans</td>
                    <td></td>
                    <td><a href="https://www.tourismeloiret.com/en/discover/12-must-sees-made-loiret/week-end-orleans">Turismo Loiret - Orléans</a></td>
                    <td>55 kms</td>
                    <td>1278 kms</td>
                    <td><a href="https://goo.gl/maps/93xSm2vzZgSzFWhSA">Google Maps</a></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Chartres</td>
                    <td>Cathédrale</td>
                    <td><a href="https://www.chartres-tourisme.com/en">Turismo Chartres</a></td>
                    <td>80 kms</td>
                    <td>1358 kms</td>
                    <td><a href="https://goo.gl/maps/98sqPxLxAkWxM5i98">Google Maps</a></td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Versailles</td>
                    <td>Château</td>
                    <td><a href="https://en.chateauversailles.fr/">Château de Versailles</a><br/><a href="https://en.versailles-tourisme.com/">Tourisme Versailles</a></td>
                    <td>90 kms</td>
                    <td>1448 kms</td>
                    <td><a href="https://goo.gl/maps/ua2s9g1NTPHpCY7M7">Google Maps</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>23</td>
                    <td>Aéroport CDG</td>
                    <td></td>
                    <td><a href="https://www.parisaeroport.fr/en">Aeroportos de Paris</a></td>
                    <td>45 kms</td>
                    <td>1493 kms</td>
                    <td><a href="https://goo.gl/maps/kdURXZpbAz5S68vNA">Google Maps</a></td>
                </tr>
            </tfoot>
        </table>
    </article>
</section>

<!-- Deuxième proposition-->
<div><h1>II. La Rochelle, a Gironde e os Castelos da Loire</h1></div>
<section id="trip2">
    <aside>
        <img src="/images/trips/trip_2.png" class="smallTripImage" alt="Voyage La Rochelle, la Gironde et la Loire" />
    </aside>
    <article>
        <table>
            <thead>
                <tr>
                    <th>Étape</th>
                    <th>Lieu</th>
                    <th>Visites proposées</th>
                    <th>Liens utiles</th>
                    <th>Distance étape</th>
                    <th>Distance totale</th>
                    <th>Localisation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>Nantes Atlantique Aéroport</td>
                    <td></td>
                    <td><a href="https://www.nantes.aeroport.fr/en/homepage">Aeroporto de Nantes</a></td>
                    <td>0 kms</td>
                    <td>0 kms</td>
                    <td><a href="https://goo.gl/maps/uJGyJsyseZw5u1qs5">Google Maps</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Château du Pordor</td>
                    <td>MARIAGE</td>
                    <td><a href="">?</a></td>
                    <td>80 kms</td>
                    <td>80 kms</td>
                    <td><a href="https://goo.gl/maps/vtjFVjdPpUPXbGbb7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Guérande</td>
                    <td>Marais salants<br/>La Baule<br/>Côte Sauvage</td>
                    <td><a href="https://tourisme-loireatlantique.com/selection/quoi-faire-a-guerande/">Turismo Loire Atlantique - Guérande</a><br/><a href="https://en.labaule-guerande.com/">Turismo Guérande & La Baule</a></td>
                    <td>60 kms</td>
                    <td>140 kms</td>
                    <td><a href="https://goo.gl/maps/v2BtGQ6jy8zzuXuN9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Saint-Nazaire</td>
                    <td>Chantier Naval de l'Atlantique</td>
                    <td><a href="https://tourisme-loireatlantique.com/selection/quoi-faire-a-saint-nazaire/">Turismo Loire Atlantique</a><br/><a href="https://www.saint-nazaire-tourisme.uk/">Turismo Saint-Nazaire</a></td>
                    <td>20 kms</td>
                    <td>160 kms</td>
                    <td><a href="https://goo.gl/maps/gYsUaYZrbQGHFU657">Google Maps</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Les Sables-d'Olonne</td>
                    <td></td>
                    <td><a href="https://www.destination-lessablesdolonne.co.uk/Discover">Turismo Sables-d'Olonne</a></td>
                    <td>115 kms</td>
                    <td>275 kms</td>
                    <td><a href="https://goo.gl/maps/ojr8uUEkTXBMgr2P9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>La Rochelle</td>
                    <td>Île de Ré<br/>Île d'Oléron<br/>Fort Boyard</td>
                    <td><a href="https://www.holidays-la-rochelle.co.uk/">Turismo La Rochelle</a></td>
                    <td>103 kms</td>
                    <td>378 kms</td>
                    <td><a href="https://goo.gl/maps/BFM6M5eBSYuMvJLe8">Google Maps</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Royan</td>
                    <td>Phare de Cordouan</td>
                    <td><a href="https://www.royanatlantique.fr/vacances-charentes/destinations/royan/#">Turismo Royan</a></td>
                    <td>75 kms</td>
                    <td>453 kms</td>
                    <td><a href="https://goo.gl/maps/rVJbpb8tFrYDNCCy7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Bordeaux</td>
                    <td>Centre historique<br/>La Cité du Vin</td>
                    <td><a href="https://www.bordeus-turismo.pt/cidade-e-o-seu-patrimonio/os-valores-obrigatorios-bordeus-e-o-seu-patrimonio">Turismo Bordeaux</a><br/><a href="https://www.gironde-tourisme.fr/en/decouvrir-la-gironde/nos-destinations/bordeaux/">Turismo Gironde - Bordeaux</a></td>
                    <td>125 kms</td>
                    <td>578 kms</td>
                    <td><a href="https://goo.gl/maps/gwHmNT5m5crooU1h6">Google Maps</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Arcachon</td>
                    <td>Comer ostras<br/>La Dune du Pilat</td>
                    <td><a href="https://www.gironde-tourisme.fr/en/decouvrir-la-gironde/nos-destinations/le-bassin-darcachon/">Turismo Gironde - Arcachon</a><br/><a href="https://www.arcachon.com/en/tourism/discovery/experience-the-bay/">Turismo Arcachon</a></td>
                    <td>70 kms</td>
                    <td>648 kms</td>
                    <td><a href="https://goo.gl/maps/oregUmymGC9DNZSb9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Saint-Émilion</td>
                    <td>Visitar uma cava e provar o vinho</td>
                    <td><a href="https://www.saint-emilion-tourisme.com/v-pt/">Turismo Saint-Émilion</a><br/><a href="https://www.gironde-tourisme.fr/en/decouvrir-la-gironde/nos-destinations/saint-emilion-libourne-fronsac/">Turismo Gironde - Saint-Émilion</a></td>
                    <td>110 kms</td>
                    <td>758 kms</td>
                    <td><a href="https://goo.gl/maps/yj55Tq6ZmPx2hBS56">Google Maps</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Gouffre de Proumeyssac</td>
                    <td></td>
                    <td><a href="https://www.gouffre-proumeyssac.com/en/">Site oficial</a></td>
                    <td>120 kms</td>
                    <td>878 kms</td>
                    <td><a href="https://goo.gl/maps/Qu2Er3BpBENqoVUJ7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Oradour-sur-Glane</td>
                    <td>Entender a historia da guerra</td>
                    <td><a href="https://www.tourisme-hautevienne.co.uk/node/42">Turismo Haute Vienne</a><br/><a href="https://www.oradour.org/">Site oficial</a></td>
                    <td>150 kms</td>
                    <td>1028 kms</td>
                    <td><a href="https://goo.gl/maps/YD7eQx4pE9EWkyEh6">Google Maps</a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Poitiers</td>
                    <td>Parque de atrações - Futuroscope</td>
                    <td><a href="https://visitpoitiers.fr/en/">Turismo Poitiers</a></td>
                    <td>110 kms</td>
                    <td>1138 kms</td>
                    <td><a href="https://goo.gl/maps/jQHwnziYTAKrA9U8A">Google Maps</a></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Tours</td>
                    <td>Châteaux de la Loire (<a href="#trip_1">voir le trajet 1</a>)</td>
                    <td><a href="https://www.touraineloirevalley.co.uk/discover/the-finest-cities/visit-tours-loire-valley-france/">Turismo Touraine - Val de Loire</a></td>
                    <td>100 kms</td>
                    <td>1238 kms</td>
                    <td><a href="https://goo.gl/maps/JUwq7wCEecqWLJKq5">Google Maps</a></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Nantes</td>
                    <td></td>
                    <td><a href="https://www.levoyageanantes.fr/en/">Turismo Nantes</a></td>
                    <td>200 kms</td>
                    <td>1438 kms</td>
                    <td><a href="https://goo.gl/maps/fofhuqKh4brcanJPA">Google Maps</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>15</td>
                    <td>Nantes Atlantique Aéroport</td>
                    <td></td>
                    <td><a href="https://www.nantes.aeroport.fr/en/homepage">Aeroporto de Nantes</a></td>
                    <td>10 kms</td>
                    <td>1448 kms</td>
                    <td><a href="https://goo.gl/maps/uJGyJsyseZw5u1qs5">Google Maps</a></td>
                </tr>
            </tfoot>
        </table>
    </article>
</section>

<!-- Troisième proposition-->
<div><h1>III. A Bretagne</h1></div>
<section id="trip3">
    <aside>
        <img src="/images/trips/trip_3.png" class="smallTripImage" alt="La Bretagne" />
    </aside>
    <article>
        <table>
            <thead>
                <tr>
                    <th>Étape</th>
                    <th>Lieu</th>
                    <th>Visites proposées</th>
                    <th>Liens utiles</th>
                    <th>Distance étape</th>
                    <th>Distance totale</th>
                    <th>Localisation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>Nantes Atlantique Aéroport</td>
                    <td></td>
                    <td><a href="https://www.nantes.aeroport.fr/en/homepage">Aeroporto de Nantes</a></td>
                    <td>0 kms</td>
                    <td>0 kms</td>
                    <td><a href="https://goo.gl/maps/uJGyJsyseZw5u1qs5">Google Maps</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Château du Pordor</td>
                    <td>MARIAGE</td>
                    <td><a href="">?</a></td>
                    <td>80 kms</td>
                    <td>80 kms</td>
                    <td><a href="https://goo.gl/maps/vtjFVjdPpUPXbGbb7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mont Saint-Michel</td>
                    <td>Comer uma omelette na Mère Poulard</td>
                    <td><a href="https://en.normandie-tourisme.fr/unmissable-sites/the-mont-saint-michel/">Turismo Normandie - Mont Saint-Michel</a><br/><a href="https://lamerepoulard.com/en/home2/">Site da Mère Poulard</a></td>
                    <td>150 kms</td>
                    <td>230 kms</td>
                    <td><a href="https://goo.gl/maps/CbBmkonEq9a6fiaP7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Saint-Malo</td>
                    <td></td>
                    <td><a href="https://www.saint-malo-tourisme.co.uk/our-8-preserved-treasures/saint-malo-le-bijou-corsaire/">Tourisme Saint-Malo</a></td>
                    <td>60 kms</td>
                    <td>290 kms</td>
                    <td><a href="https://goo.gl/maps/XTbQPPaxpkEeWB5K7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Perros-Guirec</td>
                    <td>Côte du Granit Rose</td>
                    <td><a href="https://www.cotesdarmor.com/a-voir-a-faire/patrimoine/villes-et-villages-classes/les-stations-balneaires/perros-guirec/#">Turismo Côtes d'Armor - Perros-Guirec</a></td>
                    <td>170 kms</td>
                    <td>460 kms</td>
                    <td><a href="https://goo.gl/maps/kT7t2FsRuiU9TnQT8">Google Maps</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Brest</td>
                    <td>Centro<br/>Île d'Ouessant</td>
                    <td><a href="https://www.brittanytourism.com/destinations/the-10-destinations/brest-terres-oceanes/brest/">Turismo Bretagne - Brest</a></td>
                    <td>100 kms</td>
                    <td>560 kms</td>
                    <td><a href="https://goo.gl/maps/aC99BXYeBaqjAoGz9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Locronan</td>
                    <td></td>
                    <td><a href="https://www.brittanytourism.com/destinations/the-10-destinations/quimper-cornouaille/locronan/">Turismo Bretagne - Locronan</a></td>
                    <td>65 kms</td>
                    <td>625 kms</td>
                    <td><a href="https://goo.gl/maps/sri1KLtFSXDRHNUy6">Google Maps</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Douarnenez</td>
                    <td></td>
                    <td><a href="https://www.brittanytourism.com/destinations/the-10-destinations/quimper-cornouaille/douarnenez/">Turismo Bretagne - Douarnenez</a></td>
                    <td>10 kms</td>
                    <td>635 kms</td>
                    <td><a href="https://goo.gl/maps/b3bwSYHM5vbLnJWZ8">Google Maps</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Pointe du Raz</td>
                    <td></td>
                    <td><a href="https://www.pointeduraz.com/en">Turismo Pointe du Raz</a></td>
                    <td>40 kms</td>
                    <td>675 kms</td>
                    <td><a href="https://goo.gl/maps/gCSBur7JgJ6CYLiG7">Google Maps</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Carnac</td>
                    <td>Menhirs<br/>Belle-île en mer</td>
                    <td><a href="https://www.baiedequiberon.co.uk/carnac">Turismo Baie de Quiberon - Carnac</a></td>
                    <td>170 kms</td>
                    <td>845 kms</td>
                    <td><a href="https://goo.gl/maps/HZWZttupn4B84KTT8">Google Maps</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Guérande</td>
                    <td>Marais salants<br/>La Baule<br/>Côte Sauvage</td>
                    <td><a href="https://tourisme-loireatlantique.com/selection/quoi-faire-a-guerande/">Turismo Loire Atlantique - Guérande</a><br/><a href="https://en.labaule-guerande.com/">Turismo Guérande & La Baule</a></td>
                    <td>95 kms</td>
                    <td>940 kms</td>
                    <td><a href="https://goo.gl/maps/v2BtGQ6jy8zzuXuN9">Google Maps</a></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Saint-Nazaire</td>
                    <td>Chantier Naval de l'Atlantique</td>
                    <td><a href="https://tourisme-loireatlantique.com/selection/quoi-faire-a-saint-nazaire/">Turismo Loire Atlantique</a><br/><a href="https://www.saint-nazaire-tourisme.uk/">Turismo Saint-Nazaire</a></td>
                    <td>20 kms</td>
                    <td>960 kms</td>
                    <td><a href="https://goo.gl/maps/gYsUaYZrbQGHFU657">Google Maps</a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Nantes</td>
                    <td></td>
                    <td><a href="https://www.levoyageanantes.fr/en/">Turismo Nantes</a></td>
                    <td>60 kms</td>
                    <td>1020 kms</td>
                    <td><a href="https://goo.gl/maps/fofhuqKh4brcanJPA">Google Maps</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>13</td>
                    <td>Nantes Atlantique Aéroport</td>
                    <td></td>
                    <td><a href="https://www.nantes.aeroport.fr/en/homepage">Aeroporto de Nantes</a></td>
                    <td>10 kms</td>
                    <td>1030 kms</td>
                    <td><a href="https://goo.gl/maps/uJGyJsyseZw5u1qs5">Google Maps</a></td>
                </tr>
            </tfoot>
        </table>
    </article>
</section>



<script>
    let tripImages = document.getElementsByClassName('smallTripImage');

    let changeTripImage = function() {
        if (this.classList.contains("smallTripImage")) {
            this.classList.replace("smallTripImage", "largeTripImage");
        } else if (this.classList.contains("largeTripImage")) {
            this.classList.replace("largeTripImage", "smallTripImage");
        }
    }

    for (var i = 0; i < tripImages.length; i++) {
        tripImages[i].addEventListener('click', changeTripImage);
    }
</script>
{% endblock %}
