{% extends "layout.html" %} 
{% block content %}
<div id="groomAndBride">
    <div>
        <h1>Thibault</h1>
        <div class="people">
            <img src="/images/witnesses/henri.png" alt="Picture Henri & Thibault" />
            <p>
                Viguier, não poderíamos ter nos conhecido a não ser em um campo de futebol...<br/><br/>
                Sim, nossa história começa dentro do campo da Escola Centrale, ou melhor os de Grenouillère... Como eles eram bonitos. O grande atacante, que iria marcar gols com o CFC, se via muito envergonhado diante do talentoso defensor, que não deixou de  *** quando você esfregava seus *** no meu pé. Desde então, não nos desgrudamos mais e você sempre esteve do meu lado.<br/><br/>
                Quantas lembranças entre as cochiladas na frente da série Friends (na hora dos cursos de que mesmo?), os domingos a noite" a ** no corredor verde, as noites de quinta-feira nos 4 cantos de Paris, os retornos de sushi difíceis mas às vezes seguidos de um bom prato de macarrão, as viagens para nos encontrarmos onde quer que moramos, os fins de semana passados juntos graças à nossas lindas esposas que se dão super bem.<br/><br/>
                Para quem ainda não o conhece, vá em frente, porque com o Henri você nunca ficará entediado!
            </p>
        </div>
                <div class="people">
            <img src="/images/witnesses/guitton.png" alt="Picture Louis & Thibault" />
            <p>
                Guitton, ou devrais-je dire plutôt Ouaich Guiiiiiittonnnnnn!<br/><br/>
                Même si le hasard fait que nous ne sommes pas dans la même classe quand nous rentrons en maths sup (entre l'Ellipse et la Taupe, il y a un monde...), c'est notre amour de la SI qui nous rapprochera l'année suivante. Avec un jeune Castrais (et pas castré, faîtes attention à vous), nous avons bien profité d'une belle année ensemble sous les leçons de Baudy et les histoires de Jaku (la chaussette!!)<br/><br/>
                Mais cette histoire, elle continue bien plus loin. Tu le sais, mais quel soulagement d'apprendre de toi, alors que j'étais à des kilomètres de là, vers quelle Ecole j'allais alors me tourner alors que, du fait du décalage horaire, j'avais raté les fuites plus tôt dans la nuit... Cette confiance que tu as su avoir en moi, c'est la marque des grands, celle des amis, des vrais!
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Falar do Samuel, é simples : sem ele, não teria tido encontro, nem amor à primeira vista e muito menos casamento... Foi ele quem nos uniu. (Para mais detalhes, dê uma olhada em <a href="history_fr.html">nossa história</a>)<br/><br/>
                Samuel, você não imagina o quanto somos gratos pela sua vibe festeira ! Mas é claro que ele é muito mais que isso. Samuel representa melhor do que ninguém a abertura de nossas famílias e a facilidade de integração para nós na família um do outro. Você me acolheu desde o primeiro dia e sempre me fez sentir tão bem no lar da família Mendes Nunes. Você é como um irmão, que inclusive me empresta facilmente suas roupas.<br/><br/>
                Tantos momentos compartilhados no Brasil, mais precisamente no Maracanã, onde dividimos a mesma paixão pelo futebol e o amor pelo nosso clube Flamengo.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/pierre.png" alt="Picture Pierre & Thibault" />
            <p>
                Pierre, ou melhor, o Bill.<br/> O irmão mais velho que era um pouco chato quando éramos jovens. Que vivia me chamando de "bichette" ou me forçando a fazer bagunça para levar a culpa. Mas também, ao mesmo tempo tão próximo. Tudo que vivemos juntos nos permitiu criar esse vínculo magnífico de irmãos.<br/><br/>
                E sim, apesar de todas as briguinhas entre irmãos, o Bilou é o tipo de irmão mais velho que te convida para jogar bola com seus amigos, mesmo se você tem 5 anos a menos, que te deixa marcar um gol só para você ficar feliz e que protege de todos os meninos chatos da escola que implicam com você. Acima de tudo, ele é o tipo de irmão mais velho que te dá um grande lugar na vida dele para que essa cumplicidade aumente cada vez mais, te escolhendo para ser o "best man" do seu casamento<br/><br/>
                Tanto tempo passou desde o momento em que criamos o "footballon" e jogávamos bola no corredor do primeiro andar lá de casa até o dia em que quebramos o quadro preferidos dos nossos pais, lembra?! Meu querido irmão, ainda temos muitos capítulos da nossa linda fraternidade a escrever juntos. E é por isso que te escolhi para ser um dos meus padrinhos.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/greg.png" alt="Picture Greg & Thibault" />
            <p>
                Greg, Ele é como um irmão mais velho sempre na escuta. Ele não pensa duas vezes em abrir a porta da sua casa, nem mesmo em te dar as chaves para que você se sinta em casa.<br/><br/>
                Graças a ele, aprendi muito... Entre os projetos de escola sobre liderança, o trabalho no restaurante dele, os momentos em que passamos na casa dele ou ainda nas férias de ski.  Nós pudemos aproveitar muito. E mesmo se ele tem a tranquilidade de um réptil, Greg sempre te incentivará a dar o seu melhor, da mesma forma como ele esquia na neve, mesmo com a névoa perigosa na estação de esqui.<br/><br/>
                Além de estar sempre presente, você nos ajudou muito a concretizar nosso projeto de vida como um casal.
            </p>
        </div>
    </div>

    <div>
        <h1>Bárbara</h1>
        <div class="people">
            <img src="/images/witnesses/tba.png" alt="Picture TBA & Barbara" />
            <p>
                Yet to be announced...<br/><br/>
                Be patient
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/tba.png" alt="Picture TBA & Barbara" />
            <p>
                Yet to be announced...<br/><br/>
                Be patient
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/tba.png" alt="Picture TBA & Barbara" />
            <p>
                Yet to be announced...<br/><br/>
                Be patient
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/tba.png" alt="Picture TBA & Barbara" />
            <p>
                Yet to be announced...<br/><br/>
                Be patient
            </p>
        </div>
                <div class="people">
            <img src="/images/witnesses/tba.png" alt="Picture TBA & Barbara" />
            <p>
                Yet to be announced...<br/><br/>
                Be patient
            </p>
        </div>
    </div>
</div>
{% endblock %}
