{% extends "layout.html" %} 
{% block content %}
<img
    src="/images/titles/br/relatives.png"
    alt="Title logo - relatives"
    class="titleLogo"
/>
<div id="groomAndBride">
    <div>
        <h1>Thibault</h1>
        <div class="people">
            <img src="/images/witnesses/henri.png" alt="Picture Henri & Thibault" />
            <p>
                Viguier, não poderíamos ter nos conhecido a não ser em um campo de futebol...<br/><br/>
                Sim, nossa história começa dentro do campo da Escola Centrale, ou melhor os de Grenouillère... Como eles eram bonitos. O grande atacante, que iria marcar gols com o CFC, se via muito envergonhado diante do talentoso defensor, que não deixou de  *** quando você esfregava seus *** no meu pé. Desde então, não nos desgrudamos mais e você sempre esteve do meu lado.<br/><br/>
                Quantas lembranças entre as cochiladas na frente da série Friends (na hora dos cursos de que mesmo?), os domingos a noite" a ** no corredor verde, as noites de quinta-feira nos 4 cantos de Paris, os retornos de sushi difíceis mas às vezes seguidos de um bom prato de macarrão, as viagens para nos encontrarmos onde quer que moramos, os fins de semana passados juntos graças à nossas lindas esposas que se dão super bem.<br/><br/>
                Para quem ainda não o conhece, vá em frente, porque com o Henri você nunca ficará entediado!
            </p>
        </div>
                <div class="people">
            <img src="/images/witnesses/guitton.png" alt="Picture Louis & Thibault" />
            <p>
                Guitton ou devo dizer Ouaich Guiiiiittooonnn?!<br/><br/>
                Mesmo que por acaso nós não estávamos na mesma turma quando fomos para o ensino superior, foi o nosso amor pela disciplina Ciências da Engenharia que nos aproximou. Foi com um jovem castrense (habitante de Castres) que passamos uma virada de ano maravilhoso com as lições do professor Baudy e as histórias do professor Jaku.<br/><br/>
                Mas nossa história vai mais além.. Você sabe o alívio que senti com as belas palavras vindas de você, quando você me comunicou qual faculdade eu iria cursar, enquanto eu estava a quilômetros de distância, ansioso, esperando o resultado que foi vazado e retirado da internet.<br/><br/>
                Essa confiança que você teve em mim, é a marca dos grandes amigos e verdadeiros que nós somos.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Falar do Samuel, é simples : sem ele, não teria tido encontro, nem amor à primeira vista e muito menos casamento... Foi ele quem nos uniu. (Para mais detalhes, dê uma olhada em <a href="history_fr.html">nossa história</a>)<br/><br/>
                Samuel, você não imagina o quanto somos gratos pela sua vibe festeira ! Mas é claro que ele é muito mais que isso. Samuel representa o acolhimento. Foi ele o meu primeiro contato com a família. Você me acolheu desde o primeiro dia e sempre me fez sentir tão bem no lar da família Mendes Nunes. Samuel, você é como um irmão, que inclusive me empresta facilmente suas roupas...<br/><br/>
                Tantos momentos compartilhados no Brasil, mais precisamente no Maracanã, onde dividimos a mesma paixão pelo futebol e o amor pelo nosso clube Flamengo.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/pierre.png" alt="Picture Pierre & Thibault" />
            <p>
                Pierre, ou melhor, o Bill.<br/> O irmão mais velho que era um pouco chato quando éramos jovens. Que vivia me chamando de "bichette" ou me forçando a fazer bagunça para levar a culpa. Mas também, ao mesmo tempo tão próximo. Tudo que vivemos juntos nos permitiu criar esse vínculo magnífico de irmãos.<br/><br/>
                E sim, apesar de todas as briguinhas entre irmãos, o Bilou é o tipo de irmão mais velho que te convida para jogar bola com seus amigos, mesmo se você tem 5 anos a menos, que te deixa marcar um gol só para você ficar feliz e que protege de todos os meninos chatos da escola que implicam com você. Acima de tudo, ele é o tipo de irmão mais velho que te dá um grande lugar na vida dele para que essa cumplicidade aumente cada vez mais, te escolhendo para ser o "best man" do seu casamento<br/><br/>
                Tanto tempo passou desde o momento em que criamos o "footballon" e jogávamos bola no corredor do primeiro andar lá de casa até o dia em que quebramos o quadro preferidos dos nossos pais, lembra?! Meu querido irmão, ainda temos muitos capítulos da nossa linda fraternidade a escrever juntos. E é por isso que te escolhi para ser um dos meus padrinhos.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/greg.png" alt="Picture Greg & Thibault" />
            <p>
                Greg, Ele é como um irmão mais velho sempre na escuta. Ele não pensa duas vezes em abrir a porta da sua casa, nem mesmo em te dar as chaves para que você se sinta em casa.<br/><br/>
                Graças a ele, aprendi muito... Entre os projetos de escola sobre liderança, o trabalho no restaurante dele, os momentos em que passamos na casa dele ou ainda nas férias de ski.  Nós pudemos aproveitar muito. E mesmo se ele tem a tranquilidade de um réptil, Greg sempre te incentivará a dar o seu melhor, da mesma forma como ele esquia na neve, mesmo com a névoa perigosa na estação de esqui.<br/><br/>
                Além de estar sempre presente, você nos ajudou muito a concretizar nosso projeto de vida como um casal.
            </p>
        </div>
        <h1>Nosso fotógrafo</h1>
        <div class="people">
            <img src="/images/witnesses/sartou.png" alt="Picture Arturo" />
            <p>
                Sartou.
            </p>
        </div>
        <h1>Nossa tradutora</h1>
        <div class="people">
            <img src="/images/witnesses/dani.png" alt="Picture Dani" />
            <p>
                A Dani é a brasileirinha que está sempre por perto e me aproxima das minhas origens.<br/><br/>
                Nossa amizade é recente e estar com ela vai além de falar o português. Estar longe de nosso país, fez-nos aproximarmos cada vez mais uma da outra.<br/><br/>
                Novas amizades sempre trazem um sabor especial para nossa vida e a Dani, com seu jeitinho cativante, chegou para abrasileirar minha vida francesa.<br/><br/>
                Ela aceitou, com muito carinho, um pedido muito especial dos noivos : ser nossa tradutora. Ela está cheia de responsabilidades hein. Traduzir os discursos não vai ser fácil não..<br/><br/>
                Obrigada, querida Dani. Sentimos verdadeira gratidão pela sua ajuda.
            </p>
        </div>
    </div>

    <div>
        <h1>Bárbara</h1>
        <div class="people">
            <img src="/images/witnesses/bruna.png" alt="Picture Bruna" />
            <p>
                Eu cheguei na sua vida dela com o meu jeitinho “carinhoso” de ser. Quando crianças, brincávamos e brigávamos, mas tenho certeza de que no final, sempre nos divertíamos muito. Afinal, ela foi minha primeira melhor amiga.<br/><br/>
                Crescemos e muitas vezes nos desentendemos, mas você nunca deixou de ser minha inspiração. Sempre tive a certeza de quem eu poderia contar com ela para me ajudar nas minhas indecisões, me defender se preciso, me ensinar e me amar incondicionalmente. Você me mostrou a beleza de reconstruir nossa família nos dando nossos melhores presentes, o Lucas e a Luiza.<br/><br/>
                Hoje adultas, morando longe uma da outra, eu gostaria de poder voltar ao tempo só para poder aproveitar mais da sua companhia, que me faz muita falta aqui.<br/><br/>
                Nos sentiremos muito honrados e felizes em tê-la como madrinha.<br/><br/>
                Te amamos muito,
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/kakie.png" alt="Picture Kakie" />
            <p>
                Eu tenho as melhores cunhadas do mundo. E a Kakie é uma delas. Minha primeira lembrança quando penso nela é no dia em que nos conhecemos.<br/><br/>
                Ela, com seus olhos azuis andando em minha direção com um sorriso contagiante, me recebendo de braços abertos na sua casa. Esse sorriso contagiante que logo nos fez ter uma conexão forte.<br/><br/>
                Eu só tenho a agradecer por todo carinho e pela maneira como fui acolhido na família. É maravilhoso ter uma cunhada como ela. Que sempre esteve, está e estará presente pela gente. Além disso, ela me deixa comer todos os seus chocolates, biscoitos, bolos e docinhos da casa dela..<br/><br/>
                Obrigada por ter feito tanto pela gente e fazer parte da minha vida, cunhada! Não estamos muito felizes de te ter mais uma vez ao nosso lado por esse dia.<br/><br/>
                Nós te amamos muito
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/gabi.png" alt="Picture Gabi" />
            <p>
                Aquela amiga para todas as horas. E quantas horas hein? Quantas horas já passamos juntas ao telefone nesses 17 anos de amizade? Essa é uma excelente pergunta que nenhuma das duas saberão responder. Em compensação, façam qualquer outra pergunta sobre a vida uma da outra que saberemos responder sem nenhuma dúvida.<br/><br/>
                A Gabriela, mais conhecida como Gabi japinha foi uma irmã que Deus me deu. Aquela amiga irmã que te escuta, te aconselha e ainda briga com você se for preciso. Aquela amiga que mesmo longe, está presente. Aquela amiga que sempre cuidará de você não importa os mais de 9 mil quilômetros que nos separam...<br/><br/>
                Infelizmente a madrinha japonesa não poderá estar presente, mas sem nenhuma dúvida, ela estará nos meus pensamentos e no meu coração do começo ao fim do dia 20 de maio.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/leticia.png" alt="Picture Leticia" />
            <p>
                Como falar da Lê sem falar da Naty e como falar da Naty sem falar da Lê ? Elas chegaram juntas na minha vida de uma forma bem engraçada... E desde então nós viramos o trio que não se desgruda mais, os presentinhos de Deus.<br/><br/>
                A Lê é doce, é sincera, é amiga, é atenciosa, carinhosa e é cuidadora.  Mesmo distante sempre arruma um jeitinho de cuidar de mim. Já choramos juntas, já rimos juntos e já farreamos muito juntas também e desde então nossa amizade e cumplicidade só se fortaleceu.<br/><br/>
                Os amigos são realmente anjos que Deus coloca na nossa vida. E vocês duas são meus anjinhos especiais. Estamos muito felizes de te ter ao meu lado nesse dia.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/natalia.png" alt="Picture Natalia" />
            <p>
                Como falar da Naty sem falar da Lê e como falar da Lê sem falar da Naty ? Elas chegaram juntas na minha vida de uma forma bem engraçada... E desde então nós viramos o trio que não se desgruda mais, os presentinhos de Deus.<br/><br/>
                Não foi à toa que a Naty se tornou uma das minhas melhores amigas. Ela é aquela amiga que só quer ver o seu bem. A companhia dela me faz tão bem e o jeitinho sempre cuidadoso e atencioso Vivemos juntas momentos incríveis e tão especiais com muitas histórias para contar e disso tiramos um fruto de uma amizade maravilhosa que durará para sempre.<br/><br/>
                Os amigos são realmente anjos que Deus coloca na nossa vida. E vocês duas são meus anjinhos especiais. Estamos muito felizes de te ter ao meu lado nesse dia.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/paulette.png" alt="Picture Paulette" />
            <p>
                A dona das melhores gargalhadas sempre será a Pauletti . E eu amo estar na companhia dela só para escutá-la e sentir essa energia boa que só ela passa.<br/><br/>
                Não foi à toa que ela se tornou minha melhor amiga. Fui conquistada pelo seu bom coração, pela sua sinceridade e por sempre se interessar verdadeiramente em quem está à sua volta.<br/><br/>
                Ela é fantástica, ela tem presença, ela ilumina tudo e todos a sua volta. Ela chega, encanta (e canta) e não passa despercebido. Além de ser madrinha, ela foi escolhida para cantar o hino evangélico que minha avó mais gostava.<br/><br/>
                Estamos muito felizes de tê-la ao nosso lado como nossa madrinha cantora.
            </p>
        </div>
        <h1>Nossa Oradora</h1>
        <div class="people">
            <img src="/images/witnesses/fernanda.png" alt="Picture Fernanda" />
            <p>
                Ela que tem fé em seu nome, foi a escolhida por nós dois para ser nossa oradora. Será ela quem vai passar a mensagem bíblica em português durante o nosso casamento.<br/><br/>
                Essa missão tão especial e importante foi dada para minha amiga mais velha, ou melhor, amizade mais antiga. São 21 anos de amizade, crescendo e amadurecendo juntas, compartilhando momentos únicos desde a escola. Sempre me aconselhando a buscar minha felicidade mesmo se as situações da vida pareciam inviáveis. Sim, foi ela quem me incentivou a continuar um relacionamento a distância, que parecia não dar em nada, e virou casamento.<br/><br/>
                Não poderia ter escolhido outra pessoa a não ser ela, que é uma mulher de Deus, para falar d’Ele quando receberemos a bênção divina.
            </p>
        </div>
    </div>
</div>
{% endblock %}
