{% extends "layout.html" %} 
{% block content %}
<div id="groomAndBride">
    <div>
        <h1>Thibault</h1>
        <div class="people">
            <img src="/images/witnesses/henri.png" alt="Picture Henri & Thibault" />
            <p>
                Viguier, não poderíamos ter nos conhecido a não ser em um campo de futebol...<br/>
                Sim, nossa história começa dentro do campo da Escola Centrale, ou melhor os de Grenouillère... Como eles eram bonitos. O grande atacante, que iria marcar gols com o CFC, se via muito envergonhado diante do talentoso defensor, que não deixou de  *** quando você esfregava seus *** no meu pé. Desde então, não nos desgrudamos mais e você sempre esteve do meu lado.<br/>
                Quantas lembranças entre as cochiladas na frente da série Friends (na hora dos cursos de que mesmo?), os domingos a noite" a ** no corredor verde, as noites de quinta-feira nos 4 cantos de Paris, os retornos de sushi difíceis mas às vezes seguidos de um bom prato de macarrão, as viagens para nos encontrarmos onde quer que moramos, os fins de semana passados juntos graças à nossas lindas esposas que se dão super bem.<br/>
                Para quem ainda não o conhece, vá em frente, porque com o Henri você nunca ficará entediado!
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Falar do Samuel, é simples : sem ele, não teria tido encontro, nem amor à primeira vista e muito menos casamento... Foi ele quem nos uniu. (Para mais detalhes, dê uma olhada em <a href="history_fr.html">nossa história</a>)<br/>
                Samuel, você não imagina o quanto somos gratos pela sua vibe festeira ! Mas é claro que ele é muito mais que isso. Samuel representa melhor do que ninguém a abertura de nossas famílias e a facilidade de integração para nós na família um do outro. Você me acolheu desde o primeiro dia e sempre me fez sentir tão bem no lar da família Mendes Nunes. Você é como um irmão, que inclusive me empresta facilmente suas roupas.<br/>
                Tantos momentos compartilhados no Brasil, mais precisamente no Maracanã, onde dividimos a mesma paixão pelo futebol e o amor pelo nosso clube Flamengo.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Not communicated yet...<br/>
                Paragraph to be written.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/greg.png" alt="Picture Greg & Thibault" />
            <p>
                Greg, Ele é como um irmão mais velho sempre na escuta. Ele não pensa duas vezes em abrir a porta da sua casa, nem mesmo em te dar as chaves para que você se sinta em casa.<br/>
                Graças a ele, aprendi muito... Entre os projetos de escola sobre liderança, o trabalho no restaurante dele, os momentos em que passamos na casa dele ou ainda nas férias de ski.  Nós pudemos aproveitar muito. E mesmo se ele tem a tranquilidade de um réptil, Greg sempre te incentivará a dar o seu melhor, da mesma forma como ele esquia na neve, mesmo com a névoa perigosa na estação de esqui.<br/>
                Além de estar sempre presente, você nos ajudou muito a concretizar nosso projeto de vida como um casal.
            </p>
        </div>
    </div>

    <div>
        <h1>Bárbara</h1>
        <div class="people">
            <img src="/images/witnesses/henri.png" alt="Picture Henri & Thibault" />
            <p>
                Viguier, on ne pouvait se connaître autrement que sur un terrain de foot...<br/>
                Hé oui, notre histoire commença sur les terrains de Centrale, ou plutôt ceux de la Grenouillère... qu'ils étaient beaux! Le grand attaquant, qui allait en marquer des buts avec le CFC, se retrouva bien penaud face au si talentueux défenseur, qui ne manqua pas de s'écrouler quand tu essuyas tes crampons sur mon pied. Depuis, nous ne nous sommes plus lâchés et tu as toujours été présent à mes côtés.<br/>
                Quels souvenirs entre les siestes devant Friends (pendant les cours de quoi au fait?), les dimanches soirs à trimer sur la coulée verte, les jeudis soirs aux 4 coins de Paris, les retours de sushis difficiles mais quelque fois suivis de pâtes bienvenues, les voyages à se retrouver où que l'on vive, les weekends passés ensemble grâce à nos femmes qui sont si géniales et s'entendent si bien.<br/>
                Pour ceux qui ne le connaissent pas encore, ayez hâte parce qu'avec Henri, on ne s'ennuie pas!
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/greg.png" alt="Picture Greg & Thibault" />
            <p>
                Greg, c'est comme un grand frère à l'écoute : il n'hésite pas à t'ouvrir sa porte, voire à te filer ses clefs pour que tu n'aies même pas besoin de sonner quand tu souhaites venir.<br/>
                Grâce à lui, j'ai tellement appris... Entre les projets d'école sur le leadership, les services à la brasserie, les soirées à la maison ou encore les vacances au ski, on a pu en passer du temps ensemble! Et s'il a la force tranquille du reptile, le Greg vous pousse à donner le maximum, comme lorsqu'il fonce en snow à travers la brume périlleuse des 2 Alpes!<br/>
                En plus d'être à l'écoute, tu nous as facilité la vie avec Barbara et c'est en partie grâce à toi que nous avons pu construire notre projet entre sa licence, notre appart, l'opportunité que tu m'as donnée à la brasserie et surtout nos discussions et apprentissages à tes côtés.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Not communicated yet...<br/>
                Paragraph to be written.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Samuel c'est simple : sans lui, pas de rencontre, pas de coup de foudre et donc pas de mariage... Tu ne peux imaginer ô combien nous sommes reconnaissants de ta vibe fêtarde! Pour plus de détails, allez voir un peu <a href="history_fr.html">notre histoire</a><br/>
                Mais bien sûr, c'est beaucoup plus que ça! Samuel représente mieux que personne l'ouverture de nos familles et la facilité d'intégration pour nous dans la famille de l'autre. Tu m'as accueilli au premier jour et tu as toujours fait en sorte que je me sente si bien chez les Nunes. Tu es comme un frère, à qui j'empreinte d'ailleurs si facilement les T-shirt!<br/>
                Que de souvenirs partagés au Brésil et notamment à Rio au Maracanã grâce à cette passion du foot et cet amour du Flamengo qui nous réunit si bien!
            </p>
        </div>
    </div>
</div>
{% endblock %}
