:root {
    --dark: #5b3121;
    --light: #f8edd9;
    --vindark: #553a59;
    --vinlight: #947795;
}


/* other palette: #553A59;#947795 */

* {
    color: var(--dark);
    font-family: sans-serif;
}


/* --- Those whose javascript is not enabled --- */

noscript {
    font-style: italic;
}

#noscriptNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#noscriptNav>ul {
    border: 1px solid;
    border-radius: 1rem;
    text-align: left;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#noscriptNav>ul li {
    text-align: left;
}

#noscriptContact {
    list-style-type: none;
}

#noscriptContact li {
    text-align: left;
}

#noscriptContact li::before {
    content: "\00BB  ";
}

.ulTitle {
    list-style-type: none;
    padding-bottom: 5px;
}


/* --- BODY --- */

body {
    position: relative;
    top: 220px;
    padding-bottom: 200px;
    min-height: 500px;
}


/* --- MORE GENERAL --- */


/* - General Links - */

a {
    text-decoration: underline;
    color: var(--vindark);
    font-size: 1rem;
}

a:hover {
    color: var(--vinlight);
}

a:focus {
    border: 1px solid;
    border-color: var(--dark);
    border-radius: 3%;
}


/* - Titles - */

h1 {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0px 10px 15px -15px #111;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}


/* - Sections - */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* - Text - */

p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 1000px;
}

li {
    text-align: justify;
    list-style-position: inside;
    font-size: 1rem;
    max-width: 800px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}


/* --- images --- */

.titleLogo {
    display: flex;
    align-self: center;
    max-height: 50px;
    width: auto;
}


/* --- SPECIFIC TO SINGLE PAGE --- */


/* - home - */

#homeBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#homeBody img {
    max-width: 100%;
    height: auto;
}

#newDateModal {
    position: fixed;
    /* Stay in place */
    height: 0%;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#newDateModal {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* - history - */

#historyBody p::first-letter {
    font-size: 2rem;
    line-height: 2rem;
}

#historyBody section article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 40px;
    padding-top: 40px;
}

#historyBody section article+article {
    border-top: 1px solid var(--dark);
}

#historyBody section article>aside {
    max-width: 100%;
    height: auto;
}

.historyArticleText {
    display: flex;
    flex-direction: column;
    text-align: justify;
    max-width: 500px;
    min-width: 300px;
    margin-left: 40px;
}


/* - witnesses - */

#groomAndBride {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#groomAndBride div {
    padding-left: 40px;
    padding-right: 40px;
}

#groomAndBride>div+div {
    border-left: 2px solid;
}

.people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 50px;
}

.people p {
    margin-left: 20px;
    max-width: 400px;
    min-width: 250px;
}

.people p::first-letter {
    font-size: 2rem;
    line-height: 2rem;
}

.people img {
    max-width: 150px;
    height: auto;
    border-right: 1px solid var(--dark);
    padding-right: 20px;
}


/* - Menu Page - */

#menupageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navPage {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
}

.navPageItem {
    height: 250px;
}

.navPageItemSimple,
.navPageItem {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll;
    border-radius: 1rem;
    background-color: var(--dark);
}

.navPageTitle,
.navPageContent {
    text-align: center;
    color: var(--light);
}


/* - info - */

section>article p {
    max-width: 1000px;
}

section li {
    max-width: 900px;
}

section>article table {
    max-width: 1000px;
}

section>article p>img {
    align-self: center;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

aside img {
    max-width: 100%;
    height: auto;
}

#infoTableOfContents {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* - program - */

.programItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.programItem p {
    padding-left: 40px;
    padding-right: 40px;
}

.programItem>p+p {
    border-left: 1px solid;
    max-width: 390px;
}


/* - trips - */

.tripText {
    max-width: 700px;
    margin: auto;
}

.tripText p {
    text-align: center;
}

#introTripsImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1800px;
    height: auto;
    margin: auto;
}

.introTripsImage {
    display: block;
    border: 1px solid;
    border-radius: 0.5rem;
    max-width: 33%;
    height: auto;
}

#trip1,
#trip3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#trip2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.smallTripImage {
    width: 50px;
    cursor: zoom-in;
}

.largeTripImage {
    width: 600px;
    cursor: zoom-out;
}

table {
    border-collapse: collapse;
    font-size: 1rem;
}

td {
    padding: 3px 5px;
    border: 1px solid;
}

td a::after {
    content: url("../icons/external_link.png");
    padding-left: 3px;
}


/* - dresscode - */

#dresscodeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* - presents - */

#presentsBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* - presence - */

#presenceConfirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* - comment - */

#commentBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singleComment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    margin-top: 40px;
    /* starting borders code */
    padding: 10px;
    background-image: linear-gradient(var(--dark), var(--dark)), linear-gradient(var(--dark), var(--dark)), linear-gradient(var(--dark), var(--dark)), linear-gradient(var(--dark), var(--dark)), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 2px 20px, 20px 2px, 2px 20px, 20px 2px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 2px 2px;
}

.singleComment>p {
    margin-bottom: 0;
    margin-top: 0;
}

.singleComment>form {
    align-self: flex-end;
}

.singleComment>form>button {
    cursor: pointer;
}

.commentAuthor {
    font-weight: bold;
}

.commentDate {
    font-weight: lighter;
    font-size: smaller;
}

.commentLike {
    display: flex;
    justify-content: space-around;
    align-items: center;
    content: var(--dark);
    border: solid 0.5px var(--dark);
    border-radius: 1rem;
    background: transparent;
}

.commentLike>img {
    margin: 2px 4px 2px 2px;
}

.commentLike:hover {
    background: var(--dark);
    color: var(--light);
}


/* - Navigation - */

* {
    color: var(--dark);
}


/* --- HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 0px #111;
    background-color: var(--light);
}


/* - Top */

#topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

#languageMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#languageMenu:nth-child(2) {
    margin-left: 2px;
    margin-right: 2px;
}


/* - Navigation */

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

nav a {
    display: block;
    padding: 3px 5px;
    text-decoration: none;
}

nav a:hover,
nav a:active {
    background-color: var(--dark);
    color: var(--light);
}

nav ul>li+li {
    border-left: 1px solid;
}

#currentNav {
    background-color: var(--dark);
    color: var(--light);
}

li.navParentOff {
    position: relative;
}

.navChildOff {
    display: none;
}

.navChildOn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    margin-left: -40px;
    z-index: 1;
}

.navChildOn li {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3px;
    margin-bottom: -3px;
    border-left: none;
    text-align: left;
}

.navChildOn li+li {
    border-top: 1px solid;
}

.navChildOn a {
    background-color: var(--dark);
    color: var(--light);
}

.navChildOn a:hover,
.navChildOn a:active {
    opacity: 0.8;
}

.navParentOn a {
    background-color: var(--dark);
    color: var(--light);
}