{% extends "layout.html" %} 
{% block content %}
<div id="groomAndBride">
    <div>
        <div class="people">
            <img src="/images/children/lucas.png" alt="Picture Lucas" />
            <p>
                Viguier, on ne pouvait se connaître autrement que sur un terrain de foot...<br/>
                Pour ceux qui ne le connaissent pas encore, ayez hâte parce qu'avec Henri, on ne s'ennuie pas!
            </p>
        </div>
        <div class="people">
            <img src="/images/children/paulandre.png" alt="Picture Paul-André" />
            <p>
                Paul-André, l'un des deux filleuls de Thibault.<br/>
                Paul-André représente tout à fait cet amour fraternel transmis par André et Brigitte à leurs enfants. Il est le symbole de l'amour et la complicité entre Pierre et Thibault et il est le nouveau chapitre qui gagnera de cette complicité.<br/>
                Ce petit bonhomme est plein de sagesse, sauf quand il perd au tennis ;). Comme son père, il aime faire rire et transmet une grande sensibilité à ses proches. Il a aussi récupéré le sens du rythme et de la musique de sa maman, alors n'hésitez pas à lui demander une petite danse au moment de la soirée car il sera sans doute le premier sur la piste!<br/>
                Avec lui que de partages malgré la distance et une certaine complicité sportive, même quand il souhaite un maillot de M'Bappé (heureusement qu'il joue en équipe national celui-là)!
            </p>
        </div>
        <div class="people">
            <img src="/images/children/louis.png" alt="Picture Louis" />
            <p>
                Not communicated yet...<br/>
                Paragraph to be written.
            </p>
        </div>
    </div>

    <div>
        <div class="people">
            <img src="/images/children/luiza.png" alt="Picture Luiza" />
            <p>
                Viguier, on ne pouvait se connaître autrement que sur un terrain de foot...<br/>
                Pour ceux qui ne le connaissent pas encore, ayez hâte parce qu'avec Henri, on ne s'ennuie pas!
            </p>
        </div>
        <div class="people">
            <img src="/images/children/heloise.png" alt="Picture Héloïse" />
            <p>
                Héloïse, l'une des deux filleuls de Thibault.<br/>
                Héloïse est l'innocence, l'amour et l'affection incarnée! Faisant partie des jeunes de leur famille, Thibault comprend beaucoup de sa jeunesse grâce à elle. Jamais avare de calins et de pensées, elle confie une grande confiance à son Titou et à sa parrainne Bibi d'amour. Quelle chance pour les mariés de l'avoir dans leur vie!<br/>
                Et oui, car le fait d'être le parrain d'une telle petite fille est une chance incroyable. Une chance de redécouvrir la vie sous un autre angle, une chance d'apprendre de ses nouvelles expériences à elle, tout en espérant lui être utile fort de nos faits de vie.<br/>
                Nous ne doutons pas que vous reconnaîtrez très vite Héloïse avec sa tête d'ange, son sourire permanent et sa joie de vivre.
            </p>
        </div>
        <div class="people">
            <img src="/images/children/julia.png" alt="Picture Julia" />
            <p>
                Julia, elle aussi nièce de Thibault.<br/>
                Par sa culture familiale franco-latine, étant fille et soeur de franco-mexicains, Julia a une vrai complicité avec les mariés, complicité décuplée par leur proximité géographique à Nice.<br/>
                Elle est facile à reconnaître entre son affection décuplée et son dynamisme communicatif. Pleine de vie, elle donne de la force à ceux qui l'entourent. Mais attention, elle sait ce qu'elle veut ;). Entre les copains à l'école, sa double culture, la créativité que lui transmettent ses parents, elle a déjà une vie bien chargée.<br/>
                C'est un plaisir pour ses oncle et tante Titou et Bibi d'en faire partie avec une telle proximité.
            </p>
        </div>
    </div>
</div>
{% endblock %}
