{% extends "layout.html" %} 
{% block content %}
<div id="dresscodeBody">
    <h1>DressCode</h1>
    <p>
        Pour notre mariage, il n'y a pas de règle spécifique de dresscode. Nous souhaitons que nos proches se sentent bien et soient confortables pour cette journée. Cependant, comme nous avons déjà reçu ces questons de la part de certains invités, voici quelques suggestions :
        <ul>
            <li>
                Pour les femmes, nous vous suggérons de choisir des robes courtes, moyennes ou longues. Les robes avec tissus légers, colorés, fleuris et imprimés sont toujours une bonne option pour l'été. L'utilisation de chapeau n'est pas obligatoire, mais reste de mise pour celles qui aimeraient entrer dans la mode française et s'aventurer avec un beau chapeau.<br/>
                <strong>Attention : Veuillez svp éviter les couleurs lavande, lila, violet... Les différents tons de violet ou lie de vin ont été choisis comme thème de notre mariage et seront portées par les témoins.</strong><br/>
                La cérémonie aura lieu à l'église et sera suivie d'une réception de nos convives dans le jardin du château du Pordor pour le cocktail. Nous souhaitons donc vous prévenir quant à l'usage de talons aiguilles. Il est possible d'utiliser des talons mais privilégiez les talons plateformes, annabelle, cubain ou carré. Pour celles qui ne veulent ou peuvent pas utiliser de talons, des sandalles ou ballerines sont une excellente option, l'important est d'être confortablement vêtu.<br/>
                Nous suggérons aussi l'utilisation de veste pour les plus frileuses d'entre vous. La température peut baisser rapidement en fin d'après-midi dans cette région.
            </li>
            <li>
                Pour les hommes, il n'est pas obligatoire d'utiliser un costume-cravatte mais il faut au moins un pantalon social, chemise et veste ou blazer. Les chaussures sont formelles.
            </li>
        </ul>
        Veuillez finalement noter que Barbara peut vous indiquer ce qu'elle entend par le dresscode, n'hésitez pas à lui poser des questions en nous contactant par email. Il est important de noter qu'à cette période de l'année et dans cette région, il peut faire très frais même en journée, les températures sont effectivement très variables en mai. Veuillez donc penser à avoir des vêtements pour pouvoir vous couvrir.
    </p>
</div>
{% endblock %}
