<meta charset="utf-8" name="home" />
<!--
<meta charset="utf-8" name="comment_fr" />
<meta charset="utf-8" name="org/info_fr" />
<title>Barbara et Thibault | Liste de Cadeaux</title>
<title>Barbara et Thibault | Livre dOr</title>
<title>Barbara et Thibault | Notre Histoire</title>
<title>Barbara et Thibault | Organisation</title>
<title>Barbara et Thibault | Confirmez votre Présence</title>
<title>Barbara et Thibault | Liste de Cadeaux</title>
<title>Barbara et Thibault | Nos Témoins</title>

<script src="rsc/htmlComponents/header.js" type="text/javascript" defer></script>
<script src="rsc/htmlComponents/footer.js" type="text/javascript" defer></script>
<script src="js/index.js" type="text/javascript" defer></script>
-->

<title>Barbara et Thibault | Home</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />