{% extends "layout.html" %} 
{% block content %}
<div id="historyBody">
    <img
        src="/images/titles/fr/history.png"
        alt="Title logo - history"
        class="titleLogo"
    />
    <section>
        <article>
            <div class="historyArticleText">
                <h2>Notre rencontre</h2>
                <p>
                    Paris Gare d'Austerlitz à la sortie du métro 5 en direction de Place d'Italie, un soir de septembre...<br/><br/>
                    Elle s'appelle Bárbara, elle est allée en vacances en Israël avec son frère et, sur leur retour pour le Brésil, ils ont décidé de s'arrêter quelques jours pour visiter Paris, leur escale. Ce soir-là, Samuel, le frère de Bárbara insiste pour connaître les soirées parisiennes et ils se rendent donc dans la région Austerlitz pour découvrir l'un des trois bars proposés par leur hôtel.<br/><br/>
                    Lui, c'est Thibault, jeune étudiant ingénieur, qui passait quelques jours à Paris pour rendre visite à ses copains d'École. Ils sont au Nouma, mais lui ne connaît pas cet endroit. Il les rejoint, sans savoir que cette soirée va changer sa vie.<br/><br/>
                    Et oui, après quelques échanges de regard dans le métro et un coup de foudre évident entre ces jeunes insouciants, Thibault prendra son courage à deux mains pour aller parler à cette magnifique fille qui l'a déjà envouté! Et le feeling passe tout de suite. Ils finiront par aller ensemble à cette soirée, discuter, et commencer une magnifique histoire qui va se vivre au rythme de leurs voyages, l'un rendant visite à l'autre et ainsi de suite.
                </p>
            </div>
            <aside>
                <img src="/images/history/firstMet.png" alt="First meeting pictures Barbara and Thibault"/>
            </aside>
        </article>
        <article>
            <div class="historyArticleText">
                <h2>De Brasilia à Milan, les voyages comme lieux de rencontres</h2>
                <p>
                    Anglais. Et oui, c'est en anglais que notre histoire a commencé. Un anglais d'aéroport mais une histoire d'aéroports qui nous ont permis de nous voir et de découvrir la culture de l'autre.<br/><br/>
                    Chaque 3-4 mois, nous nous voyions au rythme des vacances décalées entre le Brésil et l'Italie. Dans l'ordre, Paris, Milan, Salvador de Bahia, Brasilia, Rio de Janeiro, Venise, la Suisse, Besançon, Reims, Lyon, Marseille, Nice, Porto Alegre, le Minas Gerais, l'Urugay, l'Argentine auront été sur notre route et nous permettront de nous construire ensemble et d'apprendre de la culture de l'autre.<br/><br/>
                    Nous passons alors rapidement sur le français et le portugais pour s'intégrer dans les familles de l'autre. Si Thibault apprend sur le tas avec une excellent professeure de portugais, Bárbara sera bien plus sérieuse et apprendra le français rapidement à travers des cours et les livres au Brésil.<br/><br/>
                    Ceci lui permettra de passer rapidement à l'étape suivante... et surtout de la réussir pour notre plus grand bonheur!
                </p>
            </div>
            <aside>
                <img src="/images/history/distance.png" alt="Distance pictures Barbara and Thibault"/>
            </aside>
        </article>
        <article>
            <div class="historyArticleText">
                <h2>De Brasilia à Marseille, un déménagement et une reconversion réussis</h2>
                <p>
                    Marseille, c'est notre choix pour l'arrivée de Bárbara en Europe et une première expérience réussie de 7 mois à l'Alliance française, suivi d'une Licence 3 dans un domaine tout nouveau pour elle, intégralement en français : le développement commercial international.<br/><br/>
                    Bárbara impressionne en Europe et s'intègre à la vie européenne sans oublier ses racines et quelques retours qui lui permettent de faire le plein d'énergie au Brésil. Elle parle le français, travaille en France et construit peu à peu sa nouvelle carrière en France.<br/><br/>
                    De son côté, Thibault rentre dans la vie active et passe d'expériences à Paris à une vie plus paisible au bord de la mer du côté de Nice où Thibault et Bárbara emménagent ensemble.
                </p>
            </div>
            <aside>
                <img src="/images/history/marseille.png" alt="Marseille pictures Barbara and Thibault"/>
            </aside>
        </article>
        <article>
            <div class="historyArticleText">
                <h2>Entre le covid et les complications, un mariage en 4 ans!</h2>
                <p>
                    Vous l'attendez tous et toutes, et nous aussi vous attendons depuis longtemps maintenant. Le 23 Novembre 2019, c'est le jour où nous nous sommes dit "oui" devant la mairie de Marseille. Entre le covid et certaines complications, deux reports s'enchaîneront pour finalement prévoir notre mariage religieux le 20 mai 2023 prochain. Aussi, nous vous attendons avec la plus grande impatience pour que vous puissiez témoigner avec nous de cette merveilleuse journée qui nous attend.<br/><br/>
                    Aujourd'hui bien installés à Aubagne, proche de Marseille, dans le Sud Est de la France, c'est dans le Nord Ouest que nous vous attendrons, du côté du Pays de la Loire où la famille de Thibaul avait l'habitude de passer ses vacances étant jeune.<br/><br/>
                </p>
            </div>
            <aside>
                <img src="/images/history/mariage.png" alt="Mariage pictures Barbara and Thibault"/>
            </aside>
        </article>
    </section>
    <hr>
    <section>
        <article>
            <p>
                Ci-dessous, veuillez trouver quelques photos de notre mariage civil du 23 Novembre 2019, immortalisé par notre cher photographe que vous pouvez retrouver sur son site <a href="https://sartou.com/">Sartou</a>!
            </p>
        </article>
        <aside>
            <img src="/images/history/wedding.png" alt="Wedding Barbara and Thibault"/>
        </aside>
    </section>
</div>
<script>
  const updateCountDown = function() {
    // Jours Restants
    const weddingDate = new Date(2023, 5, 20);
    const today = new Date();
    const elapsedTime = weddingDate.getTime() - today.getTime();
    const daysLeft = Math.floor(elapsedTime / (1000 * 3600 * 24));

    document.getElementById("daysLeft").innerText = daysLeft;
    return daysLeft
  }

  updateCountDown();
</script>
{% endblock %}
