{% extends "layout.html" %} 
{% block content %}
  {% if cookie==false %}
    <div id="newDateModal">
      <img src="/images/saveNewDate.png" alt="Save the New Date flyer" />
    </div>
  {% endif %}
<div id="homeBody">
<img
  src="/images/titles/fr/home.png"
  alt="Title logo - home"
  class="titleLogo"
/>
<h1><span id="daysLeft">daysLeft</span> jours restants</h1>
  <img
    src="/images/home/home.jpg"
    alt="Welcome picture on Thibault and Barbara wedding's site"
  />
</div>
<script>
  const updateCountDown = function() {
    // Jours Restants
    const weddingDate = new Date(2023, 4, 20);
    const today = new Date();
    console.log(weddingDate)
    const elapsedTime = weddingDate.getTime() - today.getTime();
    const daysLeft = Math.floor(elapsedTime / (1000 * 3600 * 24));

    document.getElementById("daysLeft").innerText = daysLeft;
    return daysLeft
  }

  updateCountDown();
</script>
<script>
  var modal = document.getElementById("newDateModal");
  modal.style.height = "100%";

  // When the user clicks anywhere outside of the modal, close it
  window.addEventListener("click", function(event) {
    if (event.target == modal) {
      modal.style.height = "0%";
    }
  });
</script>
{% endblock %}
