{% extends "layout.html" %} 

{% block content %}
<h1><span id="daysLeft">daysLeft</span> jours restants</h1>

<div id="homeBody">
  <img
    src="rsc/images/home/home.jpg"
    alt="Welcome picture on Thibault and Barbara wedding's site"
  />
</div>
{% endblock %}
