{% extends "layout.html" %} 
{% block content %}
  {% if cookie==false %}
    <div id="newDateModal" class="openedModal">
      <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img src="/images/saveNewDate.png" alt="Save the New Date flyer" />
      </div>
    </div>
  {% else %}
    {{ cookie }}
  {% endif %}
<h1><span id="daysLeft">daysLeft</span> jours restants</h1>
<div id="homeBody">
  <img
    src="../images/home/home.jpg"
    alt="Welcome picture on Thibault and Barbara wedding's site"
  />
</div>
<script>
  const updateCountDown = function() {
    // Jours Restants
    const weddingDate = new Date(2023, 5, 20);
    const today = new Date();
    const elapsedTime = weddingDate.getTime() - today.getTime();
    const daysLeft = Math.floor(elapsedTime / (1000 * 3600 * 24));

    document.getElementById("daysLeft").innerText = daysLeft;
    return daysLeft
  }

  updateCountDown();

  
  var modal = document.getElementById("newDateModal");
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
{% endblock %}
