<section>
    <!-- For those whose javascript is not enabled -->
    <noscript>
    <hr>
    <p><img src="/icons/warning.png" alt="Warning icon" /></p>
    <p>
      Please note this website is using JavaScript! You see this message if your
      browser does not support it. In this case, please check how to enable it
      in your browser settings.
    </p>
    <div>
      You can find here after the plan of our website for you to navigate
      throughout its full list of pages:
      <div id="noscriptNav">
        <ul>
          <li class="ulTitle">Navigation to access French pages:</li>
          <li><a href="/">Accueil</a></li>
          <li><a href="/history">Les Mariés</a></li>
          <li>
            <a href="/relatives">Nos Proches</a>
            <ul>
              <li><a href="/rel/witnesses">Nos Témoins</a></li>
              <li><a href="/rel/parents">Nos Parents</a></li>
              <li><a href="/rel/children">Nos Enfants de Choeur</a></li>
            </ul>
          </li>
          <li>
            <a href="/organisation">Organisation</a>
            <ul>
              <li><a href="/org/info">Informations Pratiques</a></li>
              <li><a href="/org/program">Cérémonie</a></li>
              <li><a href="/org/trips">Voyages</a></li>
            </ul>
          </li>
          <li><a href="/presents">Liste de Cadeaux</a></li>
          <li><a href="/presence">Confirmez votre Présence</a></li>
          <li><a href="/comment">Livre d'Or</a></li>
        </ul>
        <ul>
          <li class="ulTitle">Navigation to access Portuguese pages:</li>
          <li><a href="br/home">Home</a></li>
          <li><a href="/br/history">Os Noivos</a></li>
          <li>
            <a href="/br/relatives">Nos Proches</a>
            <ul>
              <li><a href="/br/rel/witnesses">Nossos Padrinhos</a></li>
              <li><a href="/br/rel/parents">Nossos Pais</a></li>
              <li><a href="/br/rel/children">Nossos Pajens</a></li>
            </ul>
          </li>
          <li>
            <a href="/br/organisation">Programação</a>
            <ul>
              <li><a href="/br/org/info">Informações gerais</a></li>
              <li><a href="/br/org/program">Cerimônia</a></li>
              <li><a href="/br/org/trips">Roteiros</a></li>
            </ul>
          </li>
          <li><a href="/br/presents">Lista de presentes</a></li>
          <li><a href="/br/presence">Confirme sua presença</a></li>
          <li><a href="/br/comment">Mensagem aos noivos</a></li>
        </ul>
      </div>
    </div>
    <div>
      You can find as well here after the difference ways to contact us:
      <ul id="noscriptContact">
        <li>
          Monsieur et Madame André Chays // Les Alizés - Bat. A // 51, traverse
          Pourrière // 13008 - Marseille, France
        </li>
        <li>
          Francisco José Nunes Ferreira e Ana Niedja Mendes Nunes // Ed Espaço
          Veredas II // Avenida das Araucarias, Rua 12 Sul, Lote 10, AP 704 //
          CEP 71.939-000 - Aguas Claras, Brasilia DF, Brasil
        </li>
        <li>
          <a href="mailto:contact@barbara-thibault.fr">Contact us via email</a>
        </li>
      </ul>
    </div>
    <hr>
  </noscript>
    <script src="/components/header.js" type="text/javascript" defer></script>
    <header-component />
</section>