{% extends "layout.html" %} 
{% block content %}
<div id="menupageBody">
    <img
        src="/images/titles/organisation.png"
        alt="Title logo - organisation"
    />
    <p>
        La page organisation recueille toutes les informations, conseils et liens que nous pensons utiles pour organiser votre venue à notre mariage à Redon. Cette section est divisée en 3 parties que vous pouvez accéder via le menu de navigation ci-dessus ou en cliquant sur les liens ci-dessous.
    </p>
    <div id="navPage">
        <a href="org/info">
            <div class="navPageItem">
                <p class="navPageTitle">Informations Pratiques</p>
                <p class="navPageContent">Page réunissant les conseils pratiques pour venir en France pour les étrangers, des informations quant à la situation liée au Covid-19 et la guerre en Ukraine ; les méthodes pour se rendre au mariage via train, avion, voiture ; la liste des hôtels à proximité ; préparer son voyage en Europe et les coûtumes locales.</p>
            </div>
        </a>
        <a href="org/program">
            <div class="navPageItem">
                <p class="navPageTitle">Programme</p>
                <p class="navPageContent">Descriptif horaire du déroulement de la journée de mariage, le 20 mai 2023.</p>
            </div>
        </a>
        <a href="org/trips">
            <div class="navPageItem">
                <p class="navPageTitle">Voyages</p>
                <p class="navPageContent">Page décrivant 3 propositions de roadtrips à proximité du lieu de mariage, dans le Nord-Ouest de la France.</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
