{% extends "layout.html" %} 
{% block content %}
<div id="groomAndBride">
    <div>
        <h1>Thibault</h1>
        <div class="people">
            <img src="/images/parents/parentsThibault.png" alt="Picture André & Brigitte" />
            <p>
                André et Brigitte, les parents de Thibault, le dernier de leur cinq enfants, se sont connus à Paris en 1975.<br/>
                Ils sont respectivement originaires de Vercel (du côté de Besançon) et de Paris et viennent de milieux sociaux différents, qui leur permettront, autour de fortes valeurs communes, de transmettre à leurs enfants ce qu'est l'incroyable expérience de construire un projet et une aventure ensemble, liés par l'amour.<br/>
                Du fait d'une vocation forte et d'un amour profond pour l'humanité, André mènera une carrière de médecin-chirurgien bien malgré les nombreuses tentatives pour le faire déjouer entre la fatalité qui ne fera que renforcer son goût de revanche envers la médecine dans sa jeunesse, puis son oncle qui lui permettra de s'épanouïr comme ingénieur-chirurgien à défaut de n'être simplement ingénieur. Pour mener à bien sa vocation, ou même peut-être plus sa mission, il aura effectivement la chance d'être épaulé par son incroyable femme, Brigitte, qui n'aura de cesse de tenir la famille soudée autour de cette belle valeur de fraternité et d'aider chacun de leurs enfants à trouver ses marques dans la société.<br/>
                Papa travail et Maman famille, un raccourci bien rapide lorsque l'on sait que Maman fut à plusieurs reprises une infirmière si proche de ses patients, dans le même esprit que son illustre mari, et quand on se rend compte du nombre de kilomètres que Papa est prêt à faire pour rendre visite à un jeune étudiant en prépa qui n'aura que quelques heures à passer à ses côtés, et des heures pas toujours faciles d'ailleurs.<br/>
                Cette histoire, c'est l'histoire de mes parents. L'histoire d'un couple qui donnera à leur fils l'envie de construire un projet familial et de partager avec une femme merveilleuse l'amour qu'ils lui ont donné toutes ces années. L'envie de construire un projet autour de ces mêmes valeurs transmises que sont le respect de l'autre, l'humilité, le travail, l'amour fraternel ; mais aussi la liberté, la fidélité, l'indissolubilité et la fécondité.
            </p>
        </div>
    </div>

    <div>
        <h1>Bárbara</h1>
        <div class="people">
            <img src="/images/parents/parentsBarbara.png" alt="Picture Franzé & Ana Niedja" />
            <p>
                Message en construction. Veuillez vous reconnecter dans les prochaines semaines pour découvrir la suite.
            </p>
        </div>
    </div>
</div>
{% endblock %}
