{% extends "layout.html" %} 
{% block content %}
<div id="presentsBody">
    <img
        src="/images/titles/presents.png"
        alt="Title logo - presents"
        class="titleLogo"
    />
    <p>En cours de construction</p>
    <p>Reconnectez-vous dans quelques semaines pour y accéder</p>
</div>
{% endblock %}
