{% extends "layout.html" %} 
{% block content %}
<section id="presenceConfirmation">
    <img
        src="/images/titles/fr/presence.png"
        alt="Title logo - presence"
        class="titleLogo"
    />
    <div>    
        <p>
            Afin de confirmer votre présence, nous vous prions de bien vouloir répondre de l'une des manières suivantes
            <ul>
                <li>Par courrier à l'une des deux adresses indiquées en bas de la page ;</li>
                <li>Par email à <a href="mailto:contact@barbara-thibault.fr?subject=Présence au mariage&body=Nome:%0DPrésence: Oui/Non%0DQuels invités viennent au Cocktail?%0DQuels invités viennent au dîner?%0DCommentaires supplémentaires: ">contact@barbara-thibault.fr</a> - <em>nous vous enverrons alors une confirmation de bonne réception</em>.</li>
            </ul>
        </p>
    </div>
</section>
{% endblock %}
