{% extends "layout.html" %} 
{% block content %}
<img
    src="/images/titles/program.png"
    alt="Title logo - program"
    class="titleLogo"
/>
<h1>Déroulement de la journée</h1>
<div class= "programItem">
    <p>
        14:30
    </p>
    <p>
        Messe<br/>
        <em>Église Saint-Jean-Baptiste - rue des l'Église - 35600 - Bains-sur-Oust, France</em>
    </p>
</div>
<div class= "programItem">
    <p>
        17:30+
    </p>
    <p>
        Cocktail<br/>
        <em>Pour ceux ayant été conviés au cocktail</em><br/>
        <em>Cour du Château du Pordor - 44460 - Avessac, France</em>
    </p>
</div>
<div class= "programItem">
    <p>
        19:45+
    </p>
    <p>
        Réception - Dîner<br/>
        <em>Pour ceux ayant été conviés au dîner</em><br/>
        <em>Salle du Château du Pordor - 44460 - Avessac, France</em>
    </p>
</div>
<div class= "programItem">
    <p>
        23:00+
    </p>
    <p>
        Soirée<br/>
        <em>Pour ceux ayant été conviés au dîner</em><br/>
        <em>Théâtre du Château du Pordor - 44460 - Avessac, France</em>
    </p>
</div>
<div class= "programItem">
    <p>
        11:00+<br/>
        (J+1)
    </p>
    <p>
        Brunch<br/>
        <em>Pour ceux y ayant été conviés</em><br/>
        <em>Jardin en face du Château du Pordor - 44460 - Avessac, France</em>
    </p>
</div>
{% endblock %}
