{% extends "layout.html" %} 
{% block content %}
<div id="menupageBody">
    <p>
        La page "nos proches" recueille une petite description de nos amis et famille ayant un rôle officiel dans le mariage.
    </p>
    <div id="navPage">
        <a href="rel/parents">
            <div class="navPageItemSimple">
                <p class="navPageTitle">Nos Parents</p>
            </div>
        </a>
        <a href="rel/witnesses">
            <div class="navPageItemSimple">
                <p class="navPageTitle">Nos Témoins</p>
            </div>
        </a>
        <a href="rel/children">
            <div class="navPageItemSimple">
                <p class="navPageTitle">Nos enfants d'Honneur</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
