{% extends "layout.html" %} 
{% block content %}
<div id="menupageBody">
    <p>
        La page "nos proches" recueille une petite description de nos amis et famille ayant un rôle officiel dans le mariage.
    </p>
    <div id="navPage">
        <a href="org/info">
            <div class="navPageItem">
                <p class="navPageTitle">Nos Témoins</p>
                <p class="navPageContent">Description et photos des témoins ainsi que leur lien avec les mariés.</p>
            </div>
        </a>
        <a href="org/program">
            <div class="navPageItem">
                <p class="navPageTitle">Nos Parents</p>
                <p class="navPageContent">Petit message en honneur aux parents des mariés.</p>
            </div>
        </a>
        <a href="org/trips">
            <div class="navPageItem">
                <p class="navPageTitle">Nos enfants de choeur</p>
                <p class="navPageContent">Description et photos des enfants de choeur qui accompagneront les mariés à leur entrée dans l'église.</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
