{% extends "layout.html" %} 
{% block content %}
<img
    src="/images/titles/br/relatives.png"
    alt="Title logo - relatives"
    class="titleLogo"
/>
<h1>Notre Photographe</h1>
<div class="people">
    <img src="/images/witnesses/sartou.png" alt="Picture Arturo" />
    <p>
        Sartou, le beau-frère de Thibault. D'origine mexicaine, il a surtout une culture internationale et saura vous divertir en chantant sur du Queen ou du Luciano Pavarotti, ou en vous racontant l'une de ses histoires, qu'elles soient vraies ou un peu moins vraies ;).<br/><br/>
        Surtout, vous ne manquerez pas de le voir derrière son appareil à vous prendre en photo, car ce sera lui notre photographe officiel, Sartou Photos! Et vous verrez que son sourire communicateur vous permettra d'être les plus beaux modèles du monde. Nous sommes si heureux de savoir que notre journée sera enregistrée par ses appareils car il est le meilleur photographe du monde et nous en avons la preuve.<br/><br/>
        Pour voir ses photos, vous pouvez déjà vous rendre sur son site : <a href="https://sartou.com">sartou.com</a>.<br/><br/>
        Cher Sartou, nous t'aimons tant et nous avons tellement hâte de partager notre amour avec nos parents, familles et amis. Et tu permets de rendre ce moment éternel grâce aux belles photos que tu prends. Mille mercis pour ce cadeau de mariage merveilleux.
    </p>
</div>
<h1>Notre Oratrice</h1>
<div class="people">
    <img src="/images/witnesses/fernanda.png" alt="Picture Fernanda" />
    <p>
        Celle qui a foi en son nom a été choisie par nous deux pour être notre "oratrice". C'est elle qui délivrera le message biblique en portugais lors de notre mariage.<br/><br/>
        Cette mission très spéciale et importante a été confiée à ma plus "vieille" amie, ou plutôt à ma plus ancienne amitié. Ce sont 21 ans d'amitié, de croissance et de prise en maturité ensemble, à partager des moments uniques depuis l'école. Elle m'a toujours conseillé de rechercher mon bonheur, même si les situations de la vie semblaient irréalisables. Oui, c'est elle qui m'a encouragé à poursuivre une relation à distance, qui pouvait sembler aller dans l'inconnu total et donc nulle part, et qui est devenu un mariage.<br/><br/>
        Je n'aurais pu choisir personne d'autre qu'elle, qui est une femme de Dieu, pour parler de Lui lorsque nous recevons la bénédiction divine.
    </p>
</div>
<h1>Notre Traductrice</h1>
<div class="people">
    <img src="/images/witnesses/dani.png" alt="Picture Dani" />
    <p>
        Dani est la brésilienne qui est toujours à nos côtés et qui permet à Barbara de se rapprocher de ses origines.<br/><br/>
        Notre amitié est récente et passer du temps avec Dani va au delà de parler portugais. Vivre loin de notre pays a fait que nous nous sommes beaucoup rapprochées l'une de l'autre.<br/><br/>
        Les nouvelles amitiés apportent toujours une saveur spéciale dans nos vies et Dani, de façon très attachante, est arrivée pour "brésilienniser" ma vie française.<br/><br/>
        Elle a accepté, avec beaucoup de gentillesse, une demande très spéciale des fiancés: être notre traductrice. Elle est pleine de responsabilitiés, hein ;). Traduire les discours ne va pas être facile...<br/><br/>
        Merci chère Dani. Nous avons beaucoup de gratitude pour ton aide.
    </p>
</div>
{% endblock %}
