{% extends "layout.html" %} 
{% block content %}
<div id="groomAndBride">
    <div>
        <h1>Thibault</h1>
        <div class="witness">
            <img src="../images/witnesses/henri.png" alt="Picture Henri & Thibault" />
            <p>
                Viguier, on ne pouvait se connaître autrement que sur un terrain de foot...<br/>
                Hé oui, notre histoire commença sur les terrains de Centrale, ou plutôt ceux de la Grenouillère... qu'ils étaient beaux! Le grand attaquant, qui allait en marquer des buts avec le CFC, se retrouva bien penaud face au si talentueux défenseur, qui ne manqua pas de s'écrouler quand tu essuyas tes crampons sur mon pied. Depuis, nous ne nous sommes plus lâchés et tu as toujours été présent à mes côtés.<br/>
                Quels souvenirs entre les siestes devant Friends (pendant les cours de quoi au fait?), les dimanches soirs à trimer sur la coulée verte, les jeudis soirs aux 4 coins de Paris, les retours de sushis difficiles mais quelque fois suivis de pâtes bienvenues, les voyages à se retrouver où que l'on vive, les weekends passés ensemble grâce à nos femmes qui sont si géniales et s'entendent si bien.<br/>
                Pour ceux qui ne le connaissent pas encore, ayez hâte parce qu'avec Henri, on ne s'ennuie pas!
            </p>
        </div>
        <div class="witness">
            <img src="../images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Samuel c'est simple : sans lui, pas de rencontre, pas de coup de foudre et donc pas de mariage... Tu ne peux imaginer ô combien nous sommes reconnaissants de ta vibe fêtarde! Pour plus de détails, allez voir un peu <a href="history_fr.html">notre histoire</a><br/>
                Mais bien sûr, c'est beaucoup plus que ça! Samuel représente mieux que personne l'ouverture de nos familles et la facilité d'intégration pour nous dans la famille de l'autre. Tu m'as accueilli au premier jour et tu as toujours fait en sorte que je me sente si bien chez les Mendes Nunes. Tu es comme un frère, à qui j'empreinte d'ailleurs si facilement les T-shirt!<br/>
                Que de souvenirs partagés au Brésil et notamment à Rio au Maracanã grâce à cette passion du foot et cet amour du Flamengo qui nous réunit si bien!
            </p>
        </div>
        <div class="witness">
            <img src="../images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Not communicated yet...<br/>
                Paragraph to be written.
            </p>
        </div>
        <div class="witness">
            <img src="../images/witnesses/greg.png" alt="Picture Greg & Thibault" />
            <p>
                Greg, c'est comme un grand frère à l'écoute : il n'hésite pas à t'ouvrir sa porte, voire à te filer ses clefs pour que tu n'aies même pas besoin de sonner quand tu souhaites venir.<br/>
                Grâce à lui, j'ai tellement appris... Entre les projets d'école sur le leadership, les services à la brasserie, les soirées à la maison ou encore les vacances au ski, on a pu en passer du temps ensemble! Et s'il a la force tranquille du reptile, le Greg vous pousse à donner le maximum, comme lorsqu'il fonce en snow à travers la brume périlleuse des 2 Alpes!<br/>
                En plus d'être à l'écoute, tu nous as facilité la vie avec Barbara et c'est en partie grâce à toi que nous avons pu construire notre projet.
            </p>
        </div>
    </div>

    <div>
        <h1>Bárbara</h1>
        <div class="witness">
            <img src="../images/witnesses/henri.png" alt="Picture Henri & Thibault" />
            <p>
                Viguier, on ne pouvait se connaître autrement que sur un terrain de foot...<br/>
                Hé oui, notre histoire commença sur les terrains de Centrale, ou plutôt ceux de la Grenouillère... qu'ils étaient beaux! Le grand attaquant, qui allait en marquer des buts avec le CFC, se retrouva bien penaud face au si talentueux défenseur, qui ne manqua pas de s'écrouler quand tu essuyas tes crampons sur mon pied. Depuis, nous ne nous sommes plus lâchés et tu as toujours été présent à mes côtés.<br/>
                Quels souvenirs entre les siestes devant Friends (pendant les cours de quoi au fait?), les dimanches soirs à trimer sur la coulée verte, les jeudis soirs aux 4 coins de Paris, les retours de sushis difficiles mais quelque fois suivis de pâtes bienvenues, les voyages à se retrouver où que l'on vive, les weekends passés ensemble grâce à nos femmes qui sont si géniales et s'entendent si bien.<br/>
                Pour ceux qui ne le connaissent pas encore, ayez hâte parce qu'avec Henri, on ne s'ennuie pas!
            </p>
        </div>
        <div class="witness">
            <img src="../images/witnesses/greg.png" alt="Picture Greg & Thibault" />
            <p>
                Greg, c'est comme un grand frère à l'écoute : il n'hésite pas à t'ouvrir sa porte, voire à te filer ses clefs pour que tu n'aies même pas besoin de sonner quand tu souhaites venir.<br/>
                Grâce à lui, j'ai tellement appris... Entre les projets d'école sur le leadership, les services à la brasserie, les soirées à la maison ou encore les vacances au ski, on a pu en passer du temps ensemble! Et s'il a la force tranquille du reptile, le Greg vous pousse à donner le maximum, comme lorsqu'il fonce en snow à travers la brume périlleuse des 2 Alpes!<br/>
                En plus d'être à l'écoute, tu nous as facilité la vie avec Barbara et c'est en partie grâce à toi que nous avons pu construire notre projet entre sa licence, notre appart, l'opportunité que tu m'as donnée à la brasserie et surtout nos discussions et apprentissages à tes côtés.
            </p>
        </div>
        <div class="witness">
            <img src="../images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Not communicated yet...<br/>
                Paragraph to be written.
            </p>
        </div>
        <div class="witness">
            <img src="../images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Samuel c'est simple : sans lui, pas de rencontre, pas de coup de foudre et donc pas de mariage... Tu ne peux imaginer ô combien nous sommes reconnaissants de ta vibe fêtarde! Pour plus de détails, allez voir un peu <a href="history_fr.html">notre histoire</a><br/>
                Mais bien sûr, c'est beaucoup plus que ça! Samuel représente mieux que personne l'ouverture de nos familles et la facilité d'intégration pour nous dans la famille de l'autre. Tu m'as accueilli au premier jour et tu as toujours fait en sorte que je me sente si bien chez les Nunes. Tu es comme un frère, à qui j'empreinte d'ailleurs si facilement les T-shirt!<br/>
                Que de souvenirs partagés au Brésil et notamment à Rio au Maracanã grâce à cette passion du foot et cet amour du Flamengo qui nous réunit si bien!
            </p>
        </div>
    </div>
</div>
{% endblock %}
