{% extends "layout.html" %} 
{% block content %}
<img
    src="/images/titles/fr/relatives.png"
    alt="Title logo - relatives"
    class="titleLogo"
/>
<div id="groomAndBride">
    <div>
        <h1>Thibault</h1>
        <div class="people">
            <img src="/images/witnesses/henri.png" alt="Picture Henri & Thibault" />
            <p>
                Viguier, on ne pouvait se connaître autrement que sur un terrain de foot...<br/><br/>
                Hé oui, notre histoire commença sur les terrains de Centrale, ou plutôt ceux de la Grenouillère... qu'ils étaient beaux! Le grand attaquant, qui allait en marquer des buts avec le CFC, se retrouva bien penaud face au si talentueux défenseur, qui ne manqua pas de s'écrouler quand tu essuyas tes crampons sur mon pied. Depuis, nous ne nous sommes plus lâchés et tu as toujours été présent à mes côtés.<br/><br/>
                Quels souvenirs entre les siestes devant Friends (pendant les cours de quoi au fait?), les dimanches soirs à trimer sur la coulée verte, les jeudis soirs aux 4 coins de Paris, les retours de sushis difficiles mais quelque fois suivis de pâtes bienvenues, les voyages à se retrouver où que l'on vive, les weekends passés ensemble grâce à nos femmes qui sont si géniales et s'entendent si bien.<br/><br/>
                Pour ceux qui ne le connaissent pas encore, ayez hâte parce qu'avec Henri, on ne s'ennuie pas!
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/guitton.png" alt="Picture Louis & Thibault" />
            <p>
                Guitton, ou devrais-je dire plutôt Ouaich Guiiiiiittonnnnnn!<br/><br/>
                Même si le hasard fait que nous ne sommes pas dans la même classe quand nous rentrons en maths sup (entre l'Ellipse et la Taupe, il y a un monde...), c'est notre amour de la SI qui nous rapprochera l'année suivante. Avec un jeune Castrais (et pas castré, faîtes attention à vous), nous avons bien profité d'une belle année ensemble sous les leçons de Baudy et les histoires de Jaku (la chaussette!!)<br/><br/>
                Mais cette histoire, elle continue bien plus loin. Tu le sais, mais quel soulagement d'apprendre de toi, alors que j'étais à des kilomètres de là, vers quelle Ecole j'allais alors me tourner alors que, du fait du décalage horaire, j'avais raté les fuites plus tôt dans la nuit... Cette confiance que tu as su avoir en moi, c'est la marque des grands, celle des amis, des vrais!
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/samuel.png" alt="Picture Samuel & Thibault" />
            <p>
                Samuel c'est simple : sans lui, pas de rencontre, pas de coup de foudre et donc pas de mariage... Tu ne peux imaginer ô combien nous sommes reconnaissants de ta vibe fêtarde! Pour plus de détails, allez voir un peu <a href="history_fr.html">notre histoire</a><br/><br/>
                Mais bien sûr, c'est beaucoup plus que ça! Samuel représente mieux que personne l'ouverture de nos familles et la facilité d'intégration pour nous dans la famille de l'autre. Tu m'as accueilli au premier jour et tu as toujours fait en sorte que je me sente si bien chez les Mendes Nunes. Tu es comme un frère, à qui j'empreinte d'ailleurs si facilement les T-shirt!<br/><br/>
                Que de souvenirs partagés au Brésil et notamment à Rio au Maracanã grâce à cette passion du foot et cet amour du Flamengo qui nous réunit si bien!
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/pierre.png" alt="Picture Pierre & Thibault" />
            <p>
                Pierre ou plutôt le Bill, c'est le grand frère. Le grand frère à peine relou quand on était jeune, entre les "bichette" ou les bêtises forcées, mais aussi à la fois si proche! Et au fur et à mesure de notre du temps passé ensemble, nous avons créé cette magnifique complicité entre nous.<br/><br/>
                Et oui, malgré toutes les petites disputes de frères, Bilou c'est le genre de grand frère qui t'emmène avec ses amis alors que tu as 5 ans de moins et qui leur demande de te laisser marquer pour que tu sois heureux, c'est le genre de grand frère qui te protège de tous ceux qui t'embêtent et surtout, c'est le genre de grand frère qui te donne une grande place dans sa vie pour que cette complicité se décuple.<br/><br/>
                Qu'il est loin le temps du footballon sur le palier du premier à déplacer les meubles et à casser le cadre des parents... mais aujourd'hui nous avons tellement de beaux chapitres de notre belle fraternité à écrire ensemble!
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/greg.png" alt="Picture Greg & Thibault" />
            <p>
                Greg, c'est comme un grand frère à l'écoute : il n'hésite pas à t'ouvrir sa porte, voire à te filer ses clefs pour que tu n'aies même pas besoin de sonner quand tu souhaites venir.<br/><br/>
                Grâce à lui, j'ai tellement appris... Entre les projets d'école sur le leadership, les services à la brasserie, les soirées à la maison ou encore les vacances au ski, on a pu en passer du temps ensemble! Et s'il a la force tranquille du reptile, le Greg vous pousse à donner le maximum, comme lorsqu'il fonce en snow à travers la brume périlleuse des 2 Alpes!<br/><br/>
                En plus d'être à l'écoute, tu nous as facilité la vie avec Barbara et c'est en partie grâce à toi que nous avons pu construire notre projet.
            </p>
        </div>
    </div>
        <h1>Notre photographe</h1>
        <div class="people">
            <img src="/images/witnesses/sartou.png" alt="Picture Arturo" />
            <p>
                Sartou, le beau-frère de Thibault. D'origine mexicaine, il a surtout une culture internationale et saura vous divertir en chantant sur du Queen, ou en vous racontant l'une de ses histoires, qu'elles soient vraies ou un peu moins vraies ;).<br/><br/>
                Surtout, vous ne manquerez pas de le voir derrière son appareil à vous prendre en photo, car ce sera lui notre photographe officiel, Sartou Photos! Et vous verrez que son sourire communicateur vous permettra d'être les plus beaux modèles du monde.<br/><br/>
                Pour voir ses photos, vous pouvez déjà vous rendre sur son site: <a href="https://sartou.com">sartou.com</a>.
            </p>
        </div>
        <h1>Notre traductrice</h1>
        <div class="people">
            <img src="/images/witnesses/dani.png" alt="Picture Dani" />
            <p>
                Dani est la brésilienne qui est toujours à nos côtés et qui permet à Barbara de se rapprocher de ses origines.<br/><br/>
                Notre amitié est récente et passer du temps avec Dani va au delà de parler portugais. Vivre loin de notre pays a fait que nous nous sommes beaucoup rapprochées l'une de l'autre.<br/><br/>
                Les nouvelles amitiés apportent toujours une saveur spéciale dans nos vies et Dani, de façon très attachante, est arrivée pour "brésilienniser" ma vie française.<br/><br/>
                Elle a accepté, avec beaucoup de gentillesse, une demande très spéciale des fiancés: être notre traductrice. Elle est pleine de responsabilitiés, hein ;). Traduire les discours ne va pas être facile...<br/><br/>
                Merci chère Dani. Nous avons beaucoup de gratitude pour ton aide.
            </p>
        </div>
    </div>

    <div>
        <h1>Bárbara</h1>
        <div class="people">
            <img src="/images/witnesses/bruna.png" alt="Picture Bruna" />
            <p>
                Je suis arrivée dans sa vie d'une façon très douce. Alors enfants, nous jouions et nous disputions, mais nous savions qu'à la fin, nous nous amusions toujours. Finalement, Bruna fut ma première meilleure amie.<br/><br/>
                Nous avons grandi et souvent nous ne nous sommes pas entendues, mais tu n'as jamais cessé d'être mon inspiration. J'ai toujours été sûre que je pourrais compter sur toi pour m'aider dans mes indécisions, me défendre quand j'en aurais besoin, m'apprendre tant de choses et m'aimer de façon inconditionnelle. Tu m'as montré la beauté de reconstruire notre famille en nous donnant nos deux plus beaux cadeaux, Lucas et Luiza.<br/><br/>
                Aujourd'hui adultes, vivant loin l'une de l'autre, j'aimerais pouvoir revenir en arrière dans le temps juste pour mieux profiter de ta compagnie, qui me manque beaucoup ici.<br/><br/>
                Nous serons tellement honorés et heureux de t'avoir comme témoin de notre mariage.<br/><br/>
                Nous t'aimons tant.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/kakie.png" alt="Picture Kakie" />
            <p>
                J'ai les meilleures belle-soeurs du monde. Et Kakie est l'une d'elles. Mon premier souvenir quand je pense à elle fut le jour où nous nous sommes rencontrées.<br/><br/>
                Elle, avec ses yeux bleus qui allaient vers ma direction et un sourire contagieux, m'a reçue avec les bras ouverts dans sa maison. Ce sourire contagieux a pu continuer à exister au travers d'une connection forte entre nous.<br/><br/>
                Je voudrais tout simplement la remercier pour sa gentillesse et la manière avec laquelle elle m'a accueillie dans la famille. C'est merveilleux d'avoir une belle-soeur comme elle, qui a toujours été, est et sera présente pour nous. En plus de celà, Kakie me laisse manger tous ses chocolats, biscuits, gâteaux et sucreries de chez elle...<br/><br/>
                Merci d'avoir tant fait pour nous et de faire partie de ma vie, chère belle-soeur! Nous sommes si heureux de t'avoir encore une fois à nos côtés pour cette journée.<br/><br/>
                Nous t'aimons tant.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/gabi.png" alt="Picture Gabi" />
            <p>
                Cette amie pour toutes les heures. Et combien d'heures hein? Combien d'heures avons nous passé au téléphone ensemble durant ces 17 années d'amitié? C'est une excellente question à laquelle aucune de nous deux ne saurait répondre. En revanche, vous pouvez nous demander quoi que ce soit d'autre à propos de la vie de l'autre et nous saurons répondre sans aucun doute.<br/><br/>
                Gabriela, plus connue comme "Gabi la petite japonaise" a été une soeur que Dieu m'a donnée. Cette amie soeur qui t'écoute, te conseille et même se dispute avec toi si c'est ce dont tu as besoin. Cette amie qui, même loin, est présente. Cette amie qui fera toujours attention à toi peu importent les plus de neuf mille kilomètres qui nous séparent...<br/><br/>
                Malheureusement la témoin japonaise ne pourra être présente physiquement, mais sans aucun doute, elle sera dans mes pensées et dans mon coeur du début à la fin de ce 20 mai.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/leticia.png" alt="Picture Leticia" />
            <p>
                Comment parler de Lê sans parler de Naty et comment parler de Naty sans parler de Lê? Elles sont arrivées ensemble dans ma vie d'une façon bien marrante... Et depuis ce jour, nous sommes devenues un trio qu'on ne décolle plus, les petits cadeaux de Dieu.<br/><br/>
                Lê est douce, sincère, amie, attentionnée, affectueuse. Même avec la distance, elle arrange toujours les choses pour me donner de l'attention. Nous avons pleuré mais aussi ri et fait la fête ensemble et depuis, notre amité et notre complicité n'ont fait que se fortifier.<br/><br/>
                Les amis sont vraiment les anges que Dieu met dans nos vies. Et vous deux êtes mes petits anges spéciaux. Nous sommes si heureux de vous avoir à nos côtés pour ce jour.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/natalia.png" alt="Picture Natalia" />
            <p>
                Comment parler de Lê sans parler de Naty et comment parler de Naty sans parler de Lê? Elles sont arrivées ensemble dans ma vie d'une façon bien marrante... Et depuis ce jour, nous sommes devenues un trio qu'on ne décolle plus, les petits cadeaux de Dieu.<br/><br/>
                Ce n'était pas étonnant que Naty soit devenue l'une de mes meilleures amies. C'est cette amie qui souhaite uniquement ton bien. Sa compagnie me fait tellement de bien ainsi que sa manière d'être toujours attentionnée. Nous avons vécu ensemble des moments incroyables et très spéciaux, avec beaucoup d'histoires à raconter et de cela nous avons tiré le fruit d'une merveilleuse amitié qui durera pour toujours.<br/><br />
                Les amis sont vraiment les anges que Dieu met dans nos vies. Et vous deux êtes mes petits anges spéciaux. Nous sommes si heureux de vous avoir à nos côtés pour ce jour.
            </p>
        </div>
        <div class="people">
            <img src="/images/witnesses/paula.png" alt="Picture Paula" />
            <p>
                La propriétaire des meilleurs rires sera toujours Pauletti. Et j'adore être en sa compagnie juste pour l'écouter et ressentir cette bonne énergie qu'elle seule transmet.<br/><br/>
                Pas étonnant qu'elle soit devenue ma meilleure amie. J'ai été conquise par son bon cœur, sa sincérité et parce qu'elle est toujours vraiment intéressée par ceux qui l'entourent.<br/><br/>
                Elle est fantastique, elle a de la présence, elle illumine tout et tout le monde autour d'elle. Elle arrive, enchante (et chante) et ne passe pas inaperçue. En plus d'être témoin, elle a été choisie pour chanter l'hymne gospel que ma grand-mère aimait le plus.<br/><br/>
                Nous sommes très heureux de l'avoir à nos côtés comme témoin-chanteuse.
            </p>
        </div>
        <h1>Nossa Oradora</h1>
        <div class="people">
            <img src="/images/witnesses/fernanda.png" alt="Picture Fernanda" />
            <p>
                Celle qui a foi en son nom a été choisie par nous deux pour être notre "oratrice". C'est elle qui délivrera le message biblique en portugais lors de notre mariage.<br/><br/>
                Cette mission très spéciale et importante a été confiée à ma plus "vieille" amie, ou plutôt à ma plus ancienne amitié. Ce sont 21 ans d'amitié, de croissance et de prise en maturité ensemble, à partager des moments uniques depuis l'école. Elle m'a toujours conseillé de rechercher mon bonheur, même si les situations de la vie semblaient irréalisables. Oui, c'est elle qui m'a encouragé à poursuivre une relation à distance, qui pouvait sembler aller dans l'inconnu total et donc nulle part, et qui est devenu un mariage.<br/><br/>
                Je n'aurais pu choisir personne d'autre qu'elle, qui est une femme de Dieu, pour parler de Lui lorsque nous recevons la bénédiction divine.
            </p>
        </div>
    </div>
</div>
{% endblock %}
